<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Metadata and Responsive Viewport -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="manifest" href="/manifest.json">

	<title>Give For Free</title>

	<!-- Bootstrap Support -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Pure CSS (Override) -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-context-min.css">

	<!-- Font Awesome (Override) -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

	<!-- Material Elements -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.min.css">
	<link rel="stylesheet" href="../assets/materialDatePicker/css/bootstrap-material-datetimepicker.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- Value Assignment to JS -->
	<script>
		var loggedIn = <%= loggedIn %>;
	</script>

	<!-- Native Scripts -->
	<script src="/scripts/common/common.js"></script>
	<script src="/scripts/home/home.js"></script>

	<!-- Push Notifications -->
	<!-- <script src="/scripts/common/notification2.js"></script> -->

	<!-- Bootstrap CSS (override) -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- CSS Styles -->
	<link rel="stylesheet" href="/styles/common/common.css">
	<link rel="stylesheet" href="/styles/common/bootstrap-edit.css">
	<link rel="stylesheet" href="/styles/home/home.css">
	<link rel="stylesheet" href="/styles/common/ribbon.css">

	<!-- Bootstrap Notifications -->
	<link rel="stylesheet" href="../assets/bootstrapNotifications/css/bootstrap-notifications.min.css">
	<script src="../scripts/common/notify.min.js"></script>

	<!-- Animation -->
	<link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

	<!-- Font Support -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<!-- Google Analytics -->
	<script src="/scripts/common/analytics.js"></script>

    <!-- Facebook Like -->
    <script>
        $(window).bind("load", function() {
            $.getScript("/scripts/common/fblike.js", function() {});
        });
    </script>
    <!-- <script src="/scripts/common/fblike.js"></script> -->

</head>


<body>
	<div class="container-fluid">
		<!-- Facebook Like -->
	    <div id="fb-root"></div>
		<!-- Page Loader -->
	    <div id="loader-wrapper">
	        <div id="loader"></div>
	        <div class="loader-section section-left"></div>
	        <div class="loader-section section-right"></div>
	    </div>

	    <!-- Navigation Bar -->
	    <nav class="navbar navbar-fixed-top">
	        <div class="navbar-header">
				<div class="navbar-brand">
					<a class="navbar-logo">
						<img src="../images/common/gff-logo.svg" class="logo-full" alt="" />
						<img src="../images/common/gff-logo-s.svg" class="logo-mobile" alt="" />
					</a>
				</div>

				<button type="button" class="navbar-toggle collapsed category-button" aria-expanded="false">
					<i class="fa fa-bars"></i>
				</button>

				<button type="button" class="navbar-toggle collapsed user-button" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
					<i class="fa fa-user"></i>
				</button>

				<button type="button" class="navbar-toggle collapsed search-button" data-toggle="collapse" data-target="#nav-search" aria-expanded="false">
					<i class="fa fa-search"></i>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="nav-search">
				<form class="navbar-form">
					<div class="form-group">
						<div class="input-group">
							<input type="text" placeholder="Search an item.." class="form-control navbar-search">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-sm">
									<i class="fa fa-chevron-right"></i>
								</button>
							</span>
						</div>
					</div>
				</form>
			</div>

			<div class="collapse navbar-collapse" id="nav-menu">

				<ul class="nav navbar-nav navbar-right">
					<% if(loggedIn) { %>
						<li id="nav-profile">
			                <a href="/profile/<%= id %>">
								<div class="user-avatar">
									<img src="../images/common/test-user.png" alt="" />
									<% if (typeof notification != 'undefined' ) { %>
										<span class="badge"><%= notification.length %></span>
									<% } %>
									<span> Patrick</span>
								</div>
			                </a>
			            </li>
						<li id="nav-create">
			                <a href="/upload">
			                    <i class="fa fa-gift" aria-hidden="true"></i> Give
			                </a>
			            </li>
						<li id="nav-feed">
			                <a href="/">
			                    <i class="fa fa-newspaper-o" aria-hidden="true"></i> Feed
			                </a>
			            </li>
						<li id="nav-logout">
							<a href="/logout">Log out</a>
						</li>
					<%  } else { %>
						<li id="nav-feed">
			                <a href="/">
			                    <i class="fa fa-newspaper-o" aria-hidden="true"></i> Feed
			                </a>
			            </li>
						<li id="nav-logout">
							<a href="javascript:loginSpecial();">Log in</a>
						</li>
					<% } %>
				</ul>
	        </div>
	        <!-- Menu -->

	    </nav>

		<div class="col-sm-3 floating-bar-mobile">
			<nav class="category-bar">
				<ul class="nav">
					<li class="category-bar-title">Categories</li>
					<li class="category-bar-item"><a href="#">Accessories <i class="fa fa-angle-right pull-right"></i></a></li>
					<li class="category-bar-item"><a href="#">Clothes <i class="fa fa-angle-right pull-right"></i></a></li>
					<li class="category-bar-item"><a href="#">Furniture <i class="fa fa-angle-right pull-right"></i></a></li>
					<li class="category-bar-item"><a href="#">Health <i class="fa fa-angle-right pull-right"></i></a></li>
					<li class="category-bar-item"><a href="#">Parenting <i class="fa fa-angle-right pull-right"></i></a></li>
				</ul>
			</nav>
		</div>
		<!-- Main Content Area -->
		<div class="main-container">
			<!-- Message Flashing -->
	        <!-- Errors -->
	        <% if (locals.error_messages) {
	            error_messages.forEach(function(message) { %>
	            <div class="alert alert-warning"><strong>Uh-oh! </strong>
	                <%= message %>
	            </div>
	            <% });
	        } %>
	        <!-- Success -->
	        <% if (locals.success_messages) {
	            success_messages.forEach(function(message) { %>
	            <div class="alert alert-success"><strong>Awesome! </strong>
	                <%= message %>
	            </div>
	            <% });

	        } %>

			<div class="panel title-banner">
				<div class="title-content col">
					<h1>Welcome, Patrick!</h1>
					<!-- TODO: the user name -->
					<div class="sub-titles">
						<p class="sub-title-first">
							Let us start with small contribution
						</p>
						<a class="give-button" type="button" href="/upload">Give a gift</a>
						<p class="sub-title-second">
							<a onclick="scrollDown();">
								Or browse some gifts below <i class="fa fa-arrow-circle-o-down"></i>
							</a>
						</p>
					</div>
				</div>
				<div class="title-img">
					<div class="bg">
					</div>
				</div>
			</div>

			<!-- Scroll Container -->
			<div class="infinite-scroll-container row" id="infinite-scroll-container">
				<!-- Placeholder -->
				<div class="col-sm-3 floating-bar-full">
					<nav class="category-bar">
						<ul class="nav">
							<li class="category-bar-title">Categories</li>
							<li class="category-bar-item"><a href="#">Accessories <i class="fa fa-angle-right pull-right"></i></a></li>
							<li class="category-bar-item"><a href="#">Clothes <i class="fa fa-angle-right pull-right"></i></a></li>
							<li class="category-bar-item"><a href="#">Furniture <i class="fa fa-angle-right pull-right"></i></a></li>
							<li class="category-bar-item"><a href="#">Health <i class="fa fa-angle-right pull-right"></i></a></li>
							<li class="category-bar-item"><a href="#">Parenting <i class="fa fa-angle-right pull-right"></i></a></li>
						</ul>
					</nav>
				</div>
				<div class="col-sm-offset-3 gifts-banner panel">
					<div class="placeholder">
						<img src="../images/common/empty-gift.svg" alt="" class="placeholder-img"/>
						<!-- <h3>Oops!</h3>
						<p>
							Currently there is no gift yet. <br>
							Why not be the first one to contribute?
						</p>  -->
						<h3>Here we are!</h3>
						<p>
							After getting a gift, <br>
							Try to donate some money? ;)
						</p>
					</div>
				</div>

				<div class="col-sm-offset-3 items-display">
					<div class="row">
						<div class="col-xs-6 col-sm-4 col-md-3 single-item">
							<div class="panel">
								<a href="#"><img src="https://d24uwljj8haz6q.cloudfront.net/1c2658727edee913a40bc6655b1030fb.png" alt="" class="img-responsive"/></a>
								<div class="item-info">
									<a href="#"><p class="hide-overflow">Book</p></a>
									<a class="seller-info row">
										<img src="../images/common/test-user.png" alt="" />
										<span>Patrick</span>
									</a>
									<small class="addition-info pull-right">1 person wants this.</small>
								</div>
							</div>
						</div>

						<div class="col-xs-6 col-sm-4 col-md-3 single-item">
							<div class="panel">
								<img src="https://d24uwljj8haz6q.cloudfront.net/b468f3f060b7b02af3433dcfb88409a2.png" alt="" class="img-responsive"/>
								<div class="item-info">
									<a href="#"><p class="hide-overflow">Intro to econometrics textbook</p></a>
									<a class="seller-info row">
										<img src="../images/common/test-user.png" alt="" />
										<span>Patrick</span>
									</a>
									<small class="addition-info pull-right">1 person wants this.</small>
								</div>
							</div>
						</div>

						<div class="col-xs-6 col-sm-4 col-md-3 single-item">
							<div class="panel">
								<img src="https://d24uwljj8haz6q.cloudfront.net/d44afe1d41e30bc9802e54ff821e9b6a.png" alt="" class="img-responsive"/>
								<div class="item-info">
									<a href="#"><p class="hide-overflow">Souvenir from Vietnam</p></a>
									<a class="seller-info row">
										<img src="../images/common/test-user.png" alt="" />
										<span>Patrick</span>
									</a>
									<small class="addition-info pull-right">1 person wants this.</small>
								</div>
							</div>
						</div>

						<div class="col-xs-6 col-sm-4 col-md-3 single-item">
							<div class="panel">
								<img src="https://d24uwljj8haz6q.cloudfront.net/44044bf162c3eaf31259498d5866acb1.png" alt="" class="img-responsive"/>
								<div class="item-info">
									<a href="#"><p class="hide-overflow">Running Waist Belt</p></a>
									<a class="seller-info row">
										<img src="../images/common/test-user.png" alt="" />
										<span>Patrick</span>
									</a>
									<small class="addition-info pull-right">1 person wants this.</small>
								</div>
							</div>
						</div>

						<div class="col-xs-6 col-sm-4 col-md-3 single-item">
							<div class="panel">
								<img src="https://d24uwljj8haz6q.cloudfront.net/bdef7ac0999346cc6ad26026edeb3e7b.png" alt="" class="img-responsive"/>
								<div class="item-info">
									<a href="#"><p class="hide-overflow">Game Controller</p></a>
									<a class="seller-info row">
										<img src="../images/common/test-user.png" alt="" />
										<span>Patrick</span>
									</a>
									<small class="addition-info pull-right">1 person wants this.</small>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
	    <footer>
	        <div class="footer-container">
	            <div class="text-center">
	                <hr class="xsall">
	                <div class="col-xs-12 text-center" style="padding-bottom: 10px;">
	                    <small><a href="mailto:giveforfreefeedback@gmail.com"><i class="fa fa-envelope"></i> giveforfreefeedback@gmail.com</a></small>
	                    <br>
	                    <small><a href="/privacy"><i class="fa fa-eye"></i> Privacy Clause</a></small>
	                </div>
	                <div class="col-xs-12 text-center">
	                    <small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
	                </div>
	            </div>
	        </div>
	    </footer>
	</div>
</body>

</html>
