<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Metadata and Responsive Viewport -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="manifest" href="/manifest.json">

	<title>Give For Free</title>

	<!-- Bootstrap Support -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Pure CSS (Override) -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-context-min.css">

	<!-- Font Awesome (Override) -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

	<!-- Material Elements -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.min.css">
	<link rel="stylesheet" href="../assets/materialDatePicker/css/bootstrap-material-datetimepicker.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- Value Assignment to JS -->
	<script>
		var loggedIn = <%= loggedIn %>;
	</script>

	<!-- Native Scripts -->
	<script src="/scripts/common/common.js"></script>
	<script src="/scripts/home/home.js"></script>

	<!-- Push Notifications -->
	<!-- <script src="/scripts/common/notification2.js"></script> -->

	<!-- Bootstrap CSS (override) -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- CSS Styles -->
	<link rel="stylesheet" href="/styles/common/common.css">
	<link rel="stylesheet" href="/styles/common/bootstrap-edit.css">
	<link rel="stylesheet" href="/styles/home/home.css">
	<link rel="stylesheet" href="/styles/common/ribbon.css">

	<!-- Bootstrap Notifications -->
	<link rel="stylesheet" href="../assets/bootstrapNotifications/css/bootstrap-notifications.min.css">
	<script src="../scripts/common/notify.min.js"></script>

	<!-- Animation -->
	<link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

	<!-- Font Support -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

	<!-- Google Analytics -->
	<script src="/scripts/common/analytics.js"></script>

    <!-- Facebook Like -->
    // <script>
    //     $(window).bind("load", function() {
    //         $.getScript("/scripts/common/fblike.js", function() {});
    //     });
    // </script>
    <!-- <script src="/scripts/common/fblike.js"></script> -->

</head>


<body>
	<div class="container-fluid">
		<!-- Facebook Like -->
	    <div id="fb-root"></div>
		<!-- Page Loader -->
	    <div id="loader-wrapper">
	        <div id="loader"></div>
	        <div class="loader-section section-left"></div>
	        <div class="loader-section section-right"></div>
	    </div>

	    <!-- Navigation Bar -->
	    <nav class="navbar navbar-fixed-top">
	        <div class="navbar-header">
				<div class="navbar-brand">
					<a href="/" class="navbar-logo">
						<img src="../images/common/gff-logo.svg" class="logo-full" alt="" />
						<img src="../images/common/gff-logo-s.svg" class="logo-mobile" alt="" />
					</a>
				</div>

				<button type="button" class="navbar-toggle collapsed category-button" aria-expanded="false">
					<i class="fa fa-bars"></i>
				</button>

				<button type="button" class="navbar-toggle collapsed user-button" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
					<i class="fa fa-user"></i>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="nav-menu">

				<ul class="nav navbar-nav navbar-right">
	                <% if(loggedIn) { %>
	                    <li id="nav-profile">
	                        <a href="/profile/<%= id %>">
	                            <div class="user-avatar">
	                                <img src="http://graph.facebook.com/<%= user.fbID %>/picture" alt="" />
	                                <span> <%= user.name %></span>
	                            </div>
	                        </a>
	                    </li>
	                    <li id="nav-create">
	                        <a href="/upload">
	                            <i class="fa fa-gift fa-fw" aria-hidden="true"></i> Give
	                        </a>
	                    </li>
	                    <li id="nav-feed">
	                        <a href="/">
	                            <i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i> Feed
	                        </a>
	                    </li>
	                    <% if (typeof notification != 'undefined') { %>
	                        <!-- Notifications -->
	                        <%- include('notification'); %>
	                        <!-- End Notifications -->
	                    <% } %>
	                    <li id="nav-logout">
	                        <a href="/logout">Log out</a>
	                    </li>
	                <%  } else { %>
	                    <li id="nav-feed">
	                        <a href="/">
	                            <i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i> Feed
	                        </a>
	                    </li>
	                    <li id="nav-logout">
	                        <a href="javascript:loginSpecial();">Log in</a>
	                    </li>
	                <% } %>
				</ul>
	        </div>
	        <!-- Menu -->

	    </nav>

		<div class="col-sm-3 floating-bar-mobile">
			<nav class="category-bar">
				<ul class="nav">
					<li class="category-bar-title">Categories</li>
					<li class="category-bar-item"><a href="#" class="category-clear">View All<i class="fa fa-angle-right pull-right"></i></a></li>
					<% var categories = ['Books', 'Clothes', 'Electronics', 'Entertainment', 'Furniture', 'Kitchen Appliances', 'Sports', 'Toys', 'Other']; %>
					<% for (i = 0; i < categories.length; i++) { %>
						<li class="category-bar-item"><a href="#" class="category" id="<%= i %>"><%= categories[i] %><i class="fa fa-angle-right pull-right"></i></a></li>
					<% } %>
					</ul>
			</nav>
		</div>
		<!-- Main Content Area -->
		<div class="main-container">
			<!-- Message Flashing -->
	        <!-- Errors -->
	        <% if (locals.error_messages) {
	            error_messages.forEach(function(message) { %>
	            <div class="alert alert-warning"><strong>Uh-oh! </strong>
	                <%= message %>
	            </div>
	            <% });
	        } %>
	        <!-- Success -->
	        <% if (locals.success_messages) {
	            success_messages.forEach(function(message) { %>
	            <div class="alert alert-success"><strong>Awesome! </strong>
	                <%= message %>
	            </div>
	            <% });

	        } %>

			<div class="panel title-banner">
				<div class="title-content col">
					<% if(loggedIn) { %>
						<h1>Welcome, <br><%= user.name %></h1>
						<!-- TODO: the user name -->
						<div class="sub-titles">
							<p class="sub-title-first">
								Start by giving a gift today
							</p>
							<a class="give-button" type="button" href="/upload">Give a gift</a>
							<p class="sub-title-second">
								<a onclick="scrollDown();">
									Or browse for gifts below <i class="fa fa-arrow-circle-o-down"></i>
								</a>
							</p>
						</div>
					<% } else { %>
						<h1>Welcome</h1>
						<!-- TODO: the user name -->
						<div class="sub-titles">
							<p class="sub-title-first">
								Log in now to get gifts
							</p>
							<a class="give-button" type="button" href="javascript:loginSpecial();">Log in</a>
							<p class="sub-title-second">
								<a onclick="scrollDown();">
									Or browse for gifts below <i class="fa fa-arrow-circle-o-down"></i>
								</a>
							</p>
						</div>
					<% } %>
				</div>
				<div class="title-img">
					<div class="bg">
					</div>
				</div>
			</div>

			<!-- Scroll Container -->
			<div class="infinite-scroll-container row" id="infinite-scroll-container">
				<!-- Placeholder -->
				<div class="col-sm-3 floating-bar-full">
					<nav class="category-bar">
						<ul class="nav">
							<li class="category-bar-title">Categories</li>

							<li class="category-bar-item"><a href="#" class="category-clear">View All<i class="fa fa-angle-right pull-right"></i></a></li>
							<% for (i = 0; i < categories.length; i++) { %>
								<li class="category-bar-item"><a href="#" class="category" id="<%= i %>"><%= categories[i] %><i class="fa fa-angle-right pull-right"></i></a></li>
							<% } %>
						</ul>
					</nav>
				</div>
				<div class="col-sm-offset-3 gifts-banner panel">
					<div class="placeholder">
						<img src="../images/common/empty-gift.svg" alt="" class="placeholder-img"/>
						<h3 class="empty-placeholder-text hidden">Take the lead</h3>
						<p class="empty-placeholder-text hidden">
							There are no gifts in this category yet. <br>
							Why not be the first to contribute? <br><br>
							<a class="give-button" type="button" href="/upload">Give a gift</a>
						</p>
						<h3 class="placeholder-text">Receive a gift today</h3>
						<p class="placeholder-text">
							After receiving a gift, <br>
							please proceed to give a donation. <br>
							Do contribute a gift too. <br><br>
							<a class="give-button" type="button" href="/upload">Give a gift</a>
						</p>
					</div>
				</div>

				<div class="col-sm-offset-3 items-display">
					<div class="row" id="infinite-scroll-container2">

					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->
	    <footer>
	        <div class="footer-container">
                <div class="col-xs-12 text-center" style="padding-bottom: 10px;">
                    <small><a href="mailto:giveforfreefeedback@gmail.com"><i class="fa fa-envelope"></i> giveforfreefeedback@gmail.com</a></small>
                    <br>
                    <small><a href="/privacy"><i class="fa fa-eye"></i> Privacy Clause</a></small>
                </div>
                <div class="col-xs-12 text-center">
                    <small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
                </div>
	        </div>
	    </footer>
	</div>
</body>

</html>
