<!DOCTYPE html>
<html lang="en">


<head>

	<!-- Metadata and Responsive Viewport -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="manifest" href="/manifest.json">

	<title>Give For Free - Meeting the needs of others</title>

	<!-- Bootstrap Support -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- Pure CSS (Override) -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-context-min.css">

	<!-- Font Awesome (Override) -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.min.css">
	<link rel="stylesheet" href="../assets/materialDatePicker/css/bootstrap-material-datetimepicker.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- Other Scripts -->
	<script>
		var loggedIn = <%= loggedIn %>;
	</script>
	<script src="/scripts/common/common.js"></script>
	<script src="/scripts/home/home.js"></script>
	<script src="/scripts/common/notification2.js"></script>

	<!-- Bootstrap CSS (override) -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Bootstrap Notifications -->
	<link rel="stylesheet" href="../assets/bootstrapNotifications/css/bootstrap-notifications.min.css">
	<script src="../scripts/common/notify.min.js"></script>

	<!-- CSS Styles -->
	<link rel="stylesheet" href="/styles/common/common.css">
	<link rel="stylesheet" href="/styles/common/bootstrap-edit.css">
	<link rel="stylesheet" href="/styles/home/home.css">

	<!-- Animation -->
	<link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

	<!-- Font Support -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>


<body>

	<div id="fb-root"></div>
	<script src="/scripts/common/fblike.js"></script>

	<div id="loader-wrapper">
		<div id="loader"></div>

		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>

	</div>

	<!-- Navigation Bar -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">

			<!-- Left Header Icon -->
			<div class="navbar-header">

				<!-- Collapsed Nav -->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<!-- Title -->
				<text class="navbar-title">
					<h4 style="margin-top: 5px;"><b>
                        <!-- <i class="fa fa-gift" aria-hidden="true"> </i> -->
                        <!-- Create a Gift -->
                    </b></h4>
				</text>

				<!-- Logo -->
				<a class="navbar-brand" href="/">
					<!-- <img src="../images/common/logo-long.png" width="108px" height="36px" style="margin-top: -10px;" /> -->
					Give For Free!
				</a>
			</div>

			<!-- Menu -->
			<div class="collapse navbar-collapse" id="nav-menu">

				<!-- User Actions Menu -->
				<% if (loggedIn) { %>
					<ul class="nav navbar-nav navbar-right">
						<li id="nav-create">
							<a href="/upload">
								<i class="fa fa-gift" aria-hidden="true"></i> Give
							</a>
						</li>
						<li id="nav-feed" class="active">
							<a href="/">
								<i class="fa fa-rss" aria-hidden="true"></i> Feed
							</a>
						</li>
						<li id="nav-profile">
							<a href="/profile/<%= id %>">
								<i class="fa fa-user" aria-hidden="true"></i> Profile
							</a>
						</li>

	                    <% if (typeof notification != 'undefined') { %>
						<!-- Notifications -->
						<%- include('notification'); %>
						<!-- End Notifications -->
						<% } %>

						<li id="nav-logout">
							<a href="/logout">
								<i class="fa fa-lock" aria-hidden="true"></i> Logout
							</a>
						</li>
					</ul>
				<% } else { %>
					<ul class="nav navbar-nav navbar-right">
						<li id="nav-feed" class="active">
							<a href="/">
								<i class="fa fa-rss" aria-hidden="true"></i> Feed
							</a>
						</li>
						<li id="nav-logout">
							<a href="/login/facebook">
								<i class="fa fa-lock" aria-hidden="true"></i> Login
							</a>
						</li>
					</ul>
				<% } %>


			</div>

		</div>
	</nav>

	<!-- Navigation FAB -->
	<!-- <div class="container" align="center">

		<div id="cd-nav" class="is-fixed">
			<a class="cd-nav-trigger">Menu<span></span></a>

			<nav id="cd-main-nav" class="cd-main-nav">
				<ul class="has-transitions">
					<li class="active tab-create" id="tab-create"><a id="create-link">Create A Gift!</a></li>
				</ul>
			</nav>

		</div>

	</div> -->

	<div class="container main-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<% if (locals.error_messages) {
            error_messages.forEach(function(message) { %>
            <div class="alert alert-warning"><strong>Uh-oh! </strong>
                <%= message %>
            </div>
            <% });
        } %>

        <% if (locals.success_messages) {
            success_messages.forEach(function(message) { %>
            <div class="alert alert-success"><strong>Awesome! </strong>
                <%= message %>
            </div>
            <% });

        } %>

		<div class="panel panel-default title-panel col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-ms-10 col-ms-offset-1 col-xs-10 col-xs-offset-1" style="display: flex; justify-content:center; align-content:center; flex-direction:column; margin-bottom:20px;" align="center">

			<img src="/images/home/globe.svg" style="display: block; margin-left: auto; margin-right: auto;  padding: 10px 0; width: 100px;">
			<p style="font-size:calc(16px + 1.5vw); mvertical-align: middle; padding:10px 0; padding-top: 15px; font-weight: bold; color: white; ">
				Awesomeness in the Community
			</p>
			<h4 style="color: white; font-weight: bold; margin-top: -10px; padding-bottom: 5px;"> Give our things a second chance! </h4>
			<div class="fb-like" data-href="http://www.giveforfree.sg" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true" style="bottom:10px;"></div>
		</div>
	</div>

	<!-- Scroll Container -->
	<div class="infinite-scroll-container  col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1" id="infinite-scroll-container" align="center">

			<div id="placeholder-main" class="col-lg-10 col-lg-offset-1">
				<row><img src="../images/common/empty-box-placeholder.svg" align="center" style="height: 200px; width: 200px; display: block;"/>
				</row>
					<p style="width: 100%;">There is nothing in the community.
					<br> Start contributing now! </p>
			</div>

		<!-- </div> -->
	</div>

	<!-- Footer -->
	<footer>
		<div class="container footer-container">
			<div class="text-center">
				<hr class="xsall">
				<!-- <ul class="col-xs-12 list-unstyled contact-list">
                    <li>
                        <small><span class="glyphicon glyphicon-envelope" id="envelope-icon" aria-hidden="true"></span> : <a href="mailto:contact@giveforfree.com">giveforfreefeedback@gmail.com</a></small>
                    </li>
                    <li>
                        <small><span class="glyphicon glyphicon-eye-open" id="eye-icon" aria-hidden="true"></span> : <a href="/privacy">Privacy Clause</a></small>
                    </li>
                </ul> -->

				<div class="col-xs-12 text-center" style="padding-bottom: 10px;">

					<small><span class="glyphicon glyphicon-envelope" id="envelope-icon" aria-hidden="true">  </span>  <a href="mailto:giveforfreefeedback@gmail.com"> giveforfreefeedback[at]gmail[dot]com</a></small>
					<br>
					<small><span class="glyphicon glyphicon-eye-open" id="eye-icon" aria-hidden="true"></span>  <a href="/privacy"> Privacy Clause</a></small>

				</div>

				<div class="col-xs-12 text-center">
					<small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
				</div>



			</div>
		</div>
	</footer>

</body>


</html>
