<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Metadata and Responsive Viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:image" content="https://d24uwljj8haz6q.cloudfront.net/<%= item.imageLocation %>" />
    <meta property="og:description" content="<%= item.description %>" />
    <meta property="og:title" content="<%= item.title %>" />

    <title>Give For Free - Meeting the needs of others</title>

    <!-- Bootstrap Support -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous"> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script> -->

    <!-- Other Scripts -->
    <script src="../scripts/item/item.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script src="https://npmcdn.com/masonry-layout@4.1.1/dist/masonry.pkgd.min.js"></script>

    <!-- Nav Tab Menu -->
    <script src="../assets/codyhouse/js/main.js"></script>
    <script src="../assets/codyhouse/js/modernizr.js"></script>
    <link rel="stylesheet" href="../assets/codyhouse/css/reset.css">
    <link rel="stylesheet" href="../assets/codyhouse/css/style.css">

    <!-- JSON -->
    <script src="../assets/JSON/js/cycle.js"></script>
    <script src="../assets/JSON/js/json_parse_state.js"></script>
    <script src="../assets/JSON/js/json_parse.js"></script>
    <script src="../assets/JSON/js/json2.js"></script>

    <!-- CSS Styles -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/item/item.css">
    <link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous"> -->

    <!-- Font Support -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <!-- Left Header Icon -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Give For Free</a>
            </div>

            <!-- Menu -->
            <div class="collapse navbar-collapse" id="nav-menu">

                <!-- User Actions Menu -->
                <ul class="nav navbar-nav navbar-right">

                    <li id="nav-feed"><a href="/">Feed</a></li>
                    <li id="nav-profile"><a id="myprofile-link" href="/profile/<%= id %>">Profile</a></li>
                    <li id="nav-logout"><a href="/logout">Logout</a></li>
                </ul>

            </div>

        </div>
    </nav>


    <div class="container top">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 carousel-section">
            <div id="carousel-example-generic" class="carousel slide img-thumbnail carousel-window" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner photos" role="listbox">
                    <div class="item active">
                        <img src="https://d24uwljj8haz6q.cloudfront.net/<%= item.imageLocation %>" alt="...">
                        <div class="carousel-caption">

                        </div>
                    </div>
                    <div class="item">
                        <img src="https://d24uwljj8haz6q.cloudfront.net/<%= item.imageLocation %>" alt="...">
                        <div class="carousel-caption">

                        </div>
                    </div>
                    <div class="item">
                        <img src="https://d24uwljj8haz6q.cloudfront.net/<%= item.imageLocation %>" alt="...">
                        <div class="carousel-caption">

                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 control-section">

            <div class="row">
                <div class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12 profile-panel">
                    <div class="panel-body">

                        <div class="row">
                            <div class="profile-header-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="profile-header-img">
                                    <img class="img-circle" src="http://graph.facebook.com/<%= item.fbID %>/picture?type=large" />
                                    <!-- badge -->
                                    <div class="rank-label-container">
                                        <span class="label label-default rank-label"><%= karma %> karma</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="profile-name-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <p class="owner-name"> <a href="/profile/<%= item.giverID %>"><b> <%= item.name %> </b></a> </p>
                                <small class="owner-location"> Singapore </small>
                            </div>
                        </div>

                        <div class="row button-group">
                            <center>
                                <% if (mine && item.takerID === null) { %>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                    <% if (item.numWants > 0) { %>
                                        <button type="button" class="btn btn-warning" href="/api/give/<%= item.itemID %>"> Random Draw
                                        </button>
                                        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Pick <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu scrollable-menu dropdown-menu-right" role="menu">
                                            <li><a href="#">User 1</a></li>
                                            <li><a href="#">User 2</a></li>
                                            <li><a href="#">User 3</a></li>
                                            <li><a href="#">User 4</a></li>
                                            <li><a href="#">User 5</a></li>
                                            <li><a href="#">User 6</a></li>
                                            <li><a href="#">User 7</a></li>
                                            <li><a href="#">User 8</a></li>
                                            <li><a href="#">User 9</a></li>
                                            <li><a href="#">User 10</a></li>
                                            <li><a href="#">User 11</a></li>
                                            <li><a href="#">User 12</a></li>
                                            <li><a href="#">User 13</a></li>
                                            <li><a href="#">User 14</a></li>
                                            <li><a href="#">User 15</a></li>
                                            <li><a href="#">User 16</a></li>
                                            <li><a href="#">User 17</a></li>
                                            <li><a href="#">User 18</a></li>
                                        </ul>
                                    <% } %>
                                <% } else if (item.takerID === null || item.takerID === id) { %>
                                    <button type="button" class="btn btn-primary btn-block"><a class="message-button" href="https://www.facebook.com/dialog/send?app_id=<%= appId %>&link=<%= domain %>/item/<%= item.itemID %>&to=<%= item.fbID %>&redirect_uri=/item/<%= item.itemID %>" target="_blank">Message Owner</a></button>
                                <% } else if (item.giverID === id && item.takerID !== null) { %>
                                    <button type="button" class="btn btn-primary btn-block"><a class="message-button" href="https://www.facebook.com/dialog/send?app_id=<%= appId %>&link=<%= domain %>/item/<%= item.itemID %>&to=<%= item.takerFbID %>&redirect_uri=/item/<%= item.itemID %>" target="_blank">Message Recipient</a></button>
                                <% } %>
                            </center>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title pull-left"> Item Details

                        </h5>

                        <button class="btn btn-default pull-right">Edit</button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body snag-num">
                        <%= item.description %>
                    </div>
                </div>

                <div class="bs-callout bs-callout-warning">
                    <% if (item.takerID === null && !expired) { %>
                        <h5>Giveaway Deadline</h5> This giveaway will end on <b><%= date %></b>.
                        <% } else if (item.takerID === null) { %>
                            <h5>Giveaway Deadline</h5> This giveaway has ended.
                            <% } else { %>
                                <h5>Giveaway Deadline</h5> This item has been given away to
                                <a href="/profile/<%= item.takerId %>">
                                    <%= item.takerName%>
                                </a>.
                                <% } %>
                </div>
                <% if (!mine) { %>
                    <% if (item.meWant === 1 && !expired && item.takerID === null) { %>
                        <a class="btn btn-lg btn-danger btn-block unsnag active" itemId="<%= item.itemID %>"><span class="glyphicon glyphicon-gift"></span> <b> UNSNAG!</b> <span class="badge"><%= item.numWants %></span> </a>
                    <% } else if (!expired && item.takerID === null) { %>
                        <a class="btn btn-lg btn-primary btn-block snag active" itemId="<%= item.itemID %>"><span class="glyphicon glyphicon-gift"></span> <b> SNAG!</b> <span class="badge"><%= item.numWants %></span> </a>
                    <% } %>
                <% } %>

            </div>
        </div>
    </div>

    </div>



    <!-- Footer -->
    <footer>
        <div class="container">
            <!-- <div class="row"> -->
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <hr class="xsall">
                <ul class="col-xs-12 list-unstyled contact-list">
                    <li>
                        <span class="glyphicon glyphicon-phone-alt" id="phone-alt-icon" aria-hidden="true"></span> : (+65) 6123 4567
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-envelope" id="envelope-icon" aria-hidden="true"></span> : <a href="mailto:contact@giveforfree.com">contact@giveforfree.com</a>
                    </li>
                </ul>

                <div class="col-xs-12 text-center">
                    <small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </footer>


</body>


</html>
