<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Metadata and Responsive Viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:image" content="https://d24uwljj8haz6q.cloudfront.net/<%= item.imageLocation %>" />
    <meta property="og:description" content="<%= item.description %>" />
    <meta property="og:title" content="<%= item.title %>" />

    <title>Give For Free - Meeting the needs of others</title>

    <!-- Bootstrap Support -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous"> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script> -->

    <!-- Other Scripts -->
    <script src="../scripts/item/item.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
    <script src="https://npmcdn.com/masonry-layout@4.1.1/dist/masonry.pkgd.min.js"></script>

    <!-- Nav Tab Menu -->
    <script src="../assets/codyhouse/js/main.js"></script>
    <script src="../assets/codyhouse/js/modernizr.js"></script>
    <link rel="stylesheet" href="../assets/codyhouse/css/reset.css">
    <link rel="stylesheet" href="../assets/codyhouse/css/style.css">

    <!-- JSON -->
    <script src="../assets/JSON/js/cycle.js"></script>
    <script src="../assets/JSON/js/json_parse_state.js"></script>>
    <script src="../assets/JSON/js/json_parse.js"></script>>
    <script src="../assets/JSON/js/json2.js"></script>>

    <!-- CSS Styles -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/item/item.css">
    <link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous"> -->

    <!-- Font Support -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <!-- Left Header Icon -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Give For Free</a>
            </div>

            <!-- Menu -->
            <div class="collapse navbar-collapse" id="nav-menu">

                <!-- User Actions Menu -->
                <ul class="nav navbar-nav navbar-right">

                    <li id="nav-feed"><a href="/">Feed</a></li>
                    <li class="active" id="nav-profile"><a id="myprofile-link" href="/profile/<%= id %>">Profile</a></li>
                    <li id="nav-logout"><a href="/logout">Logout</a></li>
                </ul>

            </div>

        </div>
    </nav>


    <div class="container top">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 carousel-section">
            <div id="carousel-example-generic" class="carousel slide img-thumbnail" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner photos" role="listbox">
                    <div class="item active">
                        <img src="../images/home/default-placeholder.png" alt="...">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item">
                        <img src="../images/home/default-placeholder.png" alt="...">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item">
                        <img src="../images/home/default-placeholder.png" alt="...">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="col-md-4 col-md-offset-1 control-section">
            <% if (myItem === true) { %>
                <p> This is your item! </p>
                <% } else { %>
                    <p> This is someone else's item! </p>
                    <% } %>

                        <p>
                            <img src="https://d24uwljj8haz6q.cloudfront.net/<%= item.imageLocation %>" width="200">
                            <br/> Title:
                            <%= item.title %>
                                <br/> Description:
                                <%= item.description %>
                                    <br/>
                                    <% if (myItem === true) { %>
                                        Giver: You
                                        <br/>
                                        <% } else { %>
                                            Giver:
                                            <a href="/profile/<%=item.giverID%>">
                                                <%= giver_name %>
                                            </a>
                                            <br/>
                                            <% } %>
                                                TimeCreated:
                                                <%= item.timeCreated %>
                                                    <br/> TimeExpire:
                                                    <%= item.timeExpired %>
                                                        <br/>

                                                        <% if (myItem === true) { %>
                                                            <p> This is your item. Give away now? </p>
                                                            <% } %>
                        </p>
        </div>
    </div>

    </div>



    <!-- Footer -->
    <footer>
        <div class="container">
            <!-- <div class="row"> -->
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <hr class="xsall">
                <ul class="col-xs-12 list-unstyled contact-list">
                    <li>
                        <span class="glyphicon glyphicon-phone-alt" id="phone-alt-icon" aria-hidden="true"></span> : (+65) 6123 4567
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-envelope" id="envelope-icon" aria-hidden="true"></span> : <a href="mailto:contact@giveforfree.com">contact@giveforfree.com</a>
                    </li>
                </ul>

                <div class="col-xs-12 text-center">
                    <small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </p>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </footer>


</body>


</html>
