<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata and Responsive Viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:type" content="fbgiveforfree:free_item" />
    <meta property="fb:app_id" content="<%= appId %>" />
    <meta property="og:url" content="<%= domain %>/item/<%= item.itemID %>" />
    <meta property="og:image" content="https://d24uwljj8haz6q.cloudfront.net/<%= item.imageLocation %>" />
    <meta property="og:description" content="<%- item.description %>" />
    <meta property="og:title" content="<%- item.title %>" />
    <meta property="og:site_name" content="Give For Free" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="400" />
    <meta name='_csrf' content='<%= csrfToken %>'>

    <title>Give For Free</title>

    <!-- JQuery Support -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Material Date Picker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js"></script>
    <script src="../assets/materialDatePicker/js/bootstrap-material-datetimepicker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.min.css">
    <link rel="stylesheet" href="../assets/materialDatePicker/css/bootstrap-material-datetimepicker.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="icon" type="image/png" href="/images/common/favicon.png">

    <!-- Bootstrap Support -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Validation -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

    <!-- Checkbox Styling -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.min.css">

    <!-- Value Assignment to JS -->
    <script>
        var loggedIn = <%= loggedIn %>;
        var currentItemId = <%= item.itemID %>;
        var userId = <%= id %>;
        var userFbId;
        <% var startDate = moment(item.timeCreated, "D MMMM YYYY HH:mm").format(); %>
        <% if (loggedIn) { %>
            userFbId = "<%= user.fbID %>";
        <% } %>
        window.fbAsyncInit = function() {
            FB.init({
                appId: '<%= appId %>',
                xfbml: true,
                version: 'v2.7'
            });
            if (typeof facebookInit == 'function') {
                facebookInit();
            }
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // function facebookInit() {
        //     if ($("#facebook-message").length) {
        //         document.getElementById('facebook-message').onclick = function() {
        //             // alert("CLICKED MESSAGE");
        //             FB.ui({
        //                 method: 'send',
        //                 link: '<%= domain %>/item/<%= item.itemID %>',
        //                 to: toId
        //             }, function(response) {});
        //         }
        //     }
        //     if ($("#facebook-share").length) {
        //         document.getElementById('facebook-share').onclick = function() {
        //             // alert("CLICKED SHARE");
        //             FB.ui({
        //                 method: 'share_open_graph',
        //                 action_type: '<%= fbNameSpace %>:receive',
        //                 action_properties: {
        //                     'free_item': '<%= domain %>/item/<%= item.itemID %>'
        //                 },
        //                 mobile_iframe: true
        //             }, function(response) {});
        //         }
        //     }
        // }

        $('#facebook-receive-share').unbind('click').bind('click', function (e) {
            shareReceiveItem();
        });

        $('#facebook-share').unbind('click').bind('click', function (e) {
            shareItem();
        });

        $('#facebook-give-share').unbind('click').bind('click', function (e) {
            shareGiveItem();
        });

        function messageUser(toFbId) {
            if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                swal({
                    title: 'Oops!',
                    text: 'Messaging via Facebook only works on desktop. We are terribly sorry about the inconvenience caused.',
                });
            } else {
                swal.close();

                console.log(toFbId);
                FB.ui({
                    method: 'send',
                    link: '<%= domain %>/item/<%= item.itemID %>',
                    to: toFbId
                }, function(response) {});
            }
        }

        function shareReceiveItem() {
            // alert("CLICKED SHARE");
            FB.ui({
                method: 'share_open_graph',
                action_type: '<%= fbNameSpace %>:receive',
                action_properties: {
                    'free_item': '<%= domain %>/item/<%= item.itemID %>'
                }
            }, function(response) {});
        }

        function shareGiveItem() {

            swal.close();
            // alert("CLICKED SHARE");
            console.log('<%= startDate %>');
            <% if (item.takerID !== null) { %>
                FB.ui({
                    method: 'share_open_graph',
                    action_type: '<%= fbNameSpace %>:give',
                    action_properties: {
                        'free_item': '<%= domain %>/item/<%= item.itemID %>'
                    }
                }, function(response) {});
            <% } else { %>
                FB.ui({
                    method: 'share',
                    href: '<%= domain %>/item/<%= item.itemID %>',
                    mobile_iframe: true
                }, function(response) {});
            <% } %>
        }

        function shareItem() {
            // alert("CLICKED SHARE");
            FB.ui({
                method: 'share',
                href: '<%= domain %>/item/<%= item.itemID %>',
                mobile_iframe: true
            }, function(response) {});
        }

        $(document).ready(function() {

            // $('#facebook-message').unbind('click').bind('click', function (e) {
            //     console.log($("#facebook-message").attr("fbid"));
            //     messageUser($("#facebook-message").attr("fbid"));
            // });

            if (!<%= uploaded === undefined %>) {
                if (<%= uploaded === 'true' %>) {
                    swal({
                        title: 'Post Completed',
                        text: 'You have successfully posted an item!',
                        type: 'success',
                        showCancelButton: true,
                        cancelButtonText: 'Close',
                        confirmButtonText: 'Share on Facebook',
                        closeOnConfirm: false,
                    },
                    function(confirm) {
                        if (!confirm) {
                            window.location.href = '/item/' + currentItemId;
                        } else {
                            shareGiveItem();
                        }
                    });
                }
            }

            if (!<%= donated === undefined %>) {
                if (<%= donated === 'true' %>) {
                    swal({
                        title: 'Donation Completed',
                        text: 'You have successfully completed the donation! Message giver to discuss delivery details.',
                        type: 'success',
                        showCancelButton: true,
                        cancelButtonText: 'Close',
                        confirmButtonText: 'Message Giver',
                        closeOnConfirm: false,
                    },
                    function(confirm) {
                        if (!confirm) {
                            window.location.href = '/item/' + currentItemId;
                        } else {
                            messageUser();
                        }
                    });
                } else {
                    swal({
                        title: 'Donation Failed',
                        text: 'Something went wrong during the payment process. Try it again or contact us for help!',
                        type: 'error',
                        showCancelButton: true,
                        cancelButtonText: 'Cancel',
                        confirmButtonText: 'Try again',
                        closeOnConfirm: false,
                    },
                    function(confirm) {
                        if (!confirm) {
                            window.location.href = '/item/' + currentItemId;
                        } else {
                            $('#paypal').trigger('click');
                            swal.close();
                        }
                    });
                }
            }
        });
    </script>

    <!-- Native Scripts -->
    <script src="../scripts/common/common.js"></script>
    <script src="../scripts/item/item.js"></script>

    <!-- Push Notifications -->
    <!-- <script src="/scripts/common/notification2.js"></script> -->

    <!-- Auto-Resize Input Fields -->
    <script src="../assets/autosize/js/autosize.js"></script>

    <!-- sweet alert -->
    <script src="/sweetalert/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/sweetalert/sweetalert.css">

    <!-- JQuery Comments Support -->
    <script type="text/javascript" src="../scripts/item/jquery-comments.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/item/jquery-comments.css">

    <!-- Bootstrap CSS (override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Pure CSS (Override) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-context-min.css">

    <!-- Font Awesome (Override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../styles/common/bootstrap-edit.css">
    <link rel="stylesheet" href="../styles/common/common.css">
    <link rel="stylesheet" href="../styles/item/item.css">
    <link rel="stylesheet" href="../styles/upload/upload.css">
    <link rel="stylesheet" href="../styles/item/progress.css">

    <!-- Bootstrap Notifications -->
    <link rel="stylesheet" href="../assets/bootstrapNotifications/css/bootstrap-notifications.min.css">
    <script src="../scripts/common/notify.min.js"></script>

    <!-- Animations -->
    <link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

    <!-- Font Support -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Google Analytics -->
    <script src="/scripts/common/analytics.js"></script>

    <!-- Moment -->
    <script src="/scripts/common/moment.min.js"></script>

    <!-- Facebook Like -->
    <script>
        $(window).bind("load", function() {
            $.getScript("/scripts/common/fblike.js", function() {});
        });
    </script>
    <!-- <script src="/scripts/common/fblike.js"></script> -->

</head>

<body>

    <!-- Facebook Like -->
    <div id="fb-root"></div>

    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-fixed-top">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="/" class="navbar-logo">
                    <img src="../images/common/gff-logo.svg" class="logo-full" alt="" />
                    <img src="../images/common/gff-logo-s.svg" class="logo-mobile" alt="" />
                </a>
            </div>

            <button type="button" class="navbar-toggle collapsed user-button" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="nav-menu">

            <ul class="nav navbar-nav navbar-right">
                <% if(loggedIn) { %>
                    <li id="nav-profile">
                        <a href="/profile/<%= id %>">
                            <div class="user-avatar">
                                <img src="https://graph.facebook.com/<%= user.fbID %>/picture" alt="" />
                                <span> <%= user.name %></span>
                            </div>
                        </a>
                    </li>
                    <li id="nav-create">
                        <a href="/upload">
                            <i class="fa fa-gift fa-fw" aria-hidden="true"></i> Give
                        </a>
                    </li>
                    <li id="nav-feed">
                        <a href="/feed">
                            <i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i> Feed
                        </a>
                    </li>
                    <% if (typeof notification != 'undefined') { %>
                        <!-- Notifications -->
                        <%- include('notification'); %>
                        <!-- End Notifications -->
                    <% } %>
                    <li id="nav-logout">
                        <a href="/logout">Log out</a>
                    </li>
                <%  } else { %>
                    <li id="nav-feed">
                        <a href="/feed">
                            <i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i> Feed
                        </a>
                    </li>
                    <li id="nav-logout">
                        <a href="javascript:loginSpecial();">Log in</a>
                    </li>
                <% } %>
            </ul>
        </div>
        <!-- Menu -->

    </nav>

    <!-- Start of Page Content -->
    <div class="main-container">
        <div class="row panel" style="padding-top: 20px;">
            <ul class="progress-indicator">
                <li
                    <% if (item.takerID !== null || mine && manual.length > 0 || !mine && item.meWant === 1) { %>
                        class="completed"
                    <% } else { %>
                        class="active"
                    <% } %>
                    id="progress-want"
                >
                    <span class="bubble"></span>
                    <h6>Want</h6>
                </li>
                <li
                    <% if (item.takerID !== null) { %>
                        class="completed"
                    <% } else if (mine && manual.length > 0 || !mine && item.meWant === 1) { %>
                        class="active"
                    <% } %>
                    id="progress-give"
                >
                    <span class="bubble"></span>
                    <h6>Give</h6>
                </li>
                <li
                    <% if (item.takerID !== null && item.donatedAmount >= item.donationAmount) { %>
                        class="completed"
                    <% } else if (item.takerID !== null) { %>
                        class="active"
                    <% } %>
                    id="progress-donate"
                >
                    <span class="bubble"></span>
                    <h6>Donate</h6>
                </li>
                <li
                    <% if (item.takerID !== null && item.donatedAmount >= item.donationAmount && item.delivered) { %>
                        class="completed"
                    <% } else if (item.takerID !== null && item.donatedAmount >= item.donationAmount) { %>
                        class="active"
                    <% } %>
                    id="progress-deliver"
                >
                    <span class="bubble"></span>
                    <h6>Deliver</h6>
                </li>
            </ul>
        </div>
        <form action="/api/update/<%= item.itemID %>" class="form-horizontal form eidt-item-form" role="form" method="post" novalidate>
            <div class="row item-info">
                <div class="col-sm-4 col-md-3 panel basic-info-panel">
                    <div class="item-img">
                        <img id="display-item" src="https://d24uwljj8haz6q.cloudfront.net/<%= item.imageLocation %>" onerror="handleBrokenImage(this);">
                    </div>
                    <div class="item-basic-info">
                        <div class="info-text info-display">
                            <h2><%- item.title %></h2>
                            <p>Get for FREE with $ <%= item.donationAmount %> donation</p>
                            <div class="category-holder info-display">
                                <% for (var i=0; i<categories.length; i++) { %>
                                    <span class="category-item"><i class="fa fa-tags"></i> <%= categories[i] %></span>
                                <% } %>
                            </div>
                        </div>
                        <div class="info-text info-edit field-for-name hidden">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                            <input type="text" class="input-txt name-input" name="title" maxlength="50" autocomplete="off" value="<%- item.title %>" data-validation="required">
                        </div>

                        <% if (loggedIn && !mine && (item.takerID === null || item.takerID === id)) { %>
                            <div class="message-giver info-display">
                                <a href="javascript:messageUser('<%- item.fbID %>');" class="btn btn-xs message-button" id="facebook-message" style="margin-bottom: 10px;"><i class="fa fa-facebook-official" aria-hidden="true"></i> Message Giver</a>
                                <% if (item.takerID === id) { %>
                                    <a href="javascript:shareReceiveItem();" class="btn btn-xs share-button" id="facebook-receive-share" style="margin-bottom: 10px;"><i class="fa fa-share-alt-square" aria-hidden="true"></i> Share</a><br>
                                <% } else { %>
                                    <a href="javascript:shareItem();" class="btn btn-xs share-button" id="facebook-share" style="margin-bottom: 10px;"><i class="fa fa-share-alt-square" aria-hidden="true"></i> Share</a><br>
                                <% } %>
                            </div>
                        <% } else if (loggedIn && mine && item.takerID !== null) { %>
                            <div class="message-giver info-display">
                                <a href="javascript:messageUser('<%- item.takerFbID %>');" class="btn btn-xs message-button" id="facebook-message" style="margin-bottom: 10px;"><i class="fa fa-facebook-official" aria-hidden="true"></i> Message Donor</a>
                                <a href="javascript:shareGiveItem();" class="btn btn-xs share-button" id="facebook-give-share" style="margin-bottom: 10px;"><i class="fa fa-share-alt-square" aria-hidden="true"></i> Share</a><br>
                            </div>
                        <% } else if (loggedIn && mine) { %>
                            <div class="message-giver info-display">
                                <a href="javascript:shareGiveItem();" class="btn btn-xs share-button" id="facebook-give-share" style="margin-bottom: 10px;"><i class="fa fa-share-alt-square" aria-hidden="true"></i> Share</a><br>
                            </div>
                        <% } %>
                        <% if (!mine) { %>
                            <div class="info-button want-button">
                                <% if (!loggedIn) { %>
                                    <% if (!expired && item.takerID === null) { %>
                                        <a href="/login" class="btn btn-lg btn-want btn-want-no-login btn-block"><span class="glyphicon glyphicon-gift"></span><span> Want </span><span class="badge"><%= item.numWants %></span> </a>
                                    <% } else if (item.takerID !== null) { %>
                                        <!-- <a href="/profile/<%= item.takerID %>" class="btn btn-lg btn-want btn-block"><i class="fa fa-heart-o"></i> Given to <%= item.takerName %></a> -->
                                    <% } else if (expired && item.takerID === null) { %>
                                        <!-- <div class="btn-lg btn-expired btn-block"><i class="fa fa-heart-o"></i> Gift has expired</div> -->
                                    <% } %>
                                <% } else { %>
                                    <% if (item.takerID === id) { %>
                                        <% if (item.donatedAmount === null || item.donatedAmount < item.donationAmount) { %>
                                            <a class="btn btn-lg btn-block btn-donate" id="paypal" itemId="<%= item.itemID %>" price="<%= item.donationAmount %>" charityName="<%= item.charityName %>" charityEmail="<%= item.charityEmail %>" charityID="<%= item.charityID %>"><i class="fa fa-heart-o"></i> Donate to receive gift</a>
                                            <a class="btn btn-lg btn-block btn-donated hidden" id="delivered" itemId="<%= item.itemID %>"><i class="fa fa-heart-o"></i> Confirm Gift Delivery</a>
                                        <% } else if (!item.delivered) { %>
                                            <a class="btn btn-lg btn-block btn-donated" id="delivered" itemId="<%= item.itemID %>"><i class="fa fa-heart-o"></i> Confirm Gift Delivery</a>
                                        <% } %>
                                    <% } else if (item.takerID !== null) { %>
                                        <!-- <a href="/profile/<%= item.takerID %>" class="btn btn-lg btn-want btn-block"><i class="fa fa-heart-o"></i> Given to <%= item.takerName %></a> -->
                                    <% } else if (item.meWant === 1 && !expired) { %>
                                        <a class="btn btn-lg btn-block btn-unwant unsnag" itemId="<%= item.itemID %>"><span class="glyphicon glyphicon-gift"></span><span> Unwant </span><span class="badge"><%= item.numWants %> <% if (item.numWants == 1) { %>wanter<% } else { %>wanters<% } %></span></a>
                                    <% } else if (!expired) { %>
                                        <a class="btn btn-lg btn-block btn-want snag" itemId="<%= item.itemID %>"><span class="glyphicon glyphicon-gift"></span><span> Want </span><span class="badge"><%= item.numWants %> <% if (item.numWants == 1) { %>wanter<% } else { %>wanters<% } %></span></a>
                                    <% } else { %>
                                        <!-- <div class="btn-lg btn-expired btn-block"><i class="fa fa-heart-o"></i> Gift has expired</div> -->
                                    <% } %>
                                <% } %>
                            </div>
                        <% } else if (item.takerID === null) { %>
                            <div class="info-button want-button">
                                <% if (manual.length > 0) { %>
                                    <% if (!expired) { %>
                                        <a type="button" class="btn btn-lg btn-block dropdown-toggle view-wanter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Give <span class="badge"><%= item.numWants %> <% if (item.numWants == 1) { %>wanter<% } else { %>wanters<% } %></span>
                                        </a>
                                    <% } else { %>
                                        <a type="button" class="btn btn-lg btn-block dropdown-toggle view-wanter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Give <span class="badge"><%= item.numWants %> <% if (item.numWants == 1) { %>wanter<% } else { %>wanters<% } %></span>
                                        </a>
                                    <% } %>
                                    <% if (item.numWants > 0) { %>
                                        <ul class="dropdown-menu scrollable-menu" role="menu">
                                            <% for (var i=0; i<manual.length; i++) { %>
                                                <li class="single-wanter">
                                                    <p><%= manual[i].name %></p>
                                                    <div class="link-box">
                                                        <a class="view-profile" href="/profile/<%= manual[i].userID %>">View Profile</a>
                                                        <a class="give-item" onclick="giveItemConfirm(<%= item.itemID %>, <%= manual[i].userID %>, '<%= manual[i].name %>');" style="cursor: pointer;">Give item</a>
                                                        <a href="javascript:messageUser('<%- manual[i].fbID %>');" class="btn btn-xs message-button message-wanter" id="facebook-message" style="margin-bottom: 10px;"><i class="fa fa-facebook-official" aria-hidden="true"></i> Message</a>
                                                    </div>
                                                </li>
                                            <% } %>
                                            <li><a onclick="giveItemConfirm(<%= item.itemID %>);" style="padding-left: 10px; margin-top: 10px; background-color: #eee;">Do a random draw</a></li>
                                        </ul>
                                    <% } %>
                                <% } %>
                            </div>
                            <div class="info-button modify-button">
                                <a href="#" class="btn btn-lg btn-block btn-modify">Modify Item</a>
                            </div>
                            <div class="info-button edit-button-group hidden">
                                <button href="#" class="btn btn-lg btn-save btn-block" type="submit">Save Modification</button>
                                <a href="#" class="btn btn-lg btn-cancel btn-block">Cancel Modification</a>
                                <a class="btn btn-lg btn-block btn-delete" onclick="deleteConfirm(<%= item.itemID %>);">Delete Item</a>
                            </div>
                        <% } else { %>
                            <div class="info-button want-button">
                                <% if (item.donatedAmount === null || item.donatedAmount < item.donationAmount) { %>
                                    <!-- <div class="btn-lg btn-block btn-donated"><i class="fa fa-heart-o"></i> Waiting for Donation</div> -->
                                <% } else { %>
                                    <!-- <div class="btn-lg btn-block btn-donated"><i class="fa fa-heart-o"></i> Deliver</div> -->
                                <% } %>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9 right-panel">
                    <div class="panel other-info-panel">
                        <div class="charity-info info-display">
                            <div class="charity-img pull-left">
                                <img src="../images/upload/charity<%= item.charityID %>.png" alt="" />

                            </div>
                            <div class="charity-details info-display">
                                <p>
                                    <% if (item.donatedAmount === null || item.donatedAmount < item.donationAmount) { %>
                                        Your donation will go to
                                    <% } else { %>
                                        $<%= item.donatedAmount %> has been donated to
                                    <% } %>
                                </p>
                                <h2><%= item.charityName %></h2>
                            </div>
                        </div>
                        <div class="detail-info info-edit hidden">
                            <div class="row">
                                <div class="col-sm-6 charity-edit">
                                    <h2>Charity</h2>
                                    <p class="subtitle">
                                        Select charity.
                                    </p>
                                    <div class="charity-selection">
                                        <!-- TODO: select the initial charity here. Can just if (something) { trigger click } -->
                                        <script>
                                            jQuery(document).ready(function($) {
                                                $( ".charity<%= item.charityID %>" ).trigger( "click" );
                                            });
                                        </script>
                                        <input type="radio" id="red-cross" name="donateToCharity" value="1" class="hidden">
                                        <img src="../images/upload/charity1.png" alt="" class="covered charity1" onclick="selectCharity(this);"/>
                                        <input type="radio" id="cat-wel-society" name="donateToCharity" value="2" class="hidden">
                                        <img src="../images/upload/charity2.png" alt="" class="covered charity2" onclick="selectCharity(this);"/>
                                    </div>
                                </div>
                                <div class="col-sm-6 donation-edit">
                                    <h2>Donation</h2>
                                    <p class="subtitle">
                                        <span class="actual-amount">$1.4</span> goes to charity, <span class="fee">$0.58</span> goes to PayPal,
                                        <span class="ours">$0.02</span> goes to GFF.
                                    </p>
                                    <div class="money-input">
                                        <i class="fa fa-usd"></i><span> SGD</span>
                                        <input type="number" class="input-txt donation-input" disabled name="donation" value="<%= item.donationAmount %>" maxlength="50" autocomplete="off" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6 deadline-info">
                                    <h2>Deadline</h2>
                                    <p class="subtitle">
                                        This giveaway ends on
                                    </p>
                                    <% var deadline = date != "Invalid date" ? moment(date, "D MMMM YYYY HH:mm").format("YYYY-MM-DD") : "" %>
                                    <input type="text" class="input-txt input-date" name="date" id="date" value="<%= moment(deadline).format('DD MMM YYYY') %>" placeholder="Select an end date">
                                </div>

                                <div class="col-sm-6 category-info category-select-holder">
                                    <h2>Category</h2>

                                    <p class="subtitle">
                                    Select the most appropriate category. <span class="no-category-alert hidden" style="color: #f05050;">You need to choose a category.</span>
                                    <!-- TODO: implement validation-->
                                    </p>
                                    <select id="input-tags" name="categories[]" id="category" data-validation="required">
                                        <option value="">Select a category...</option>
                                        <% categories_list = [
                                            "books",
                                            "clothes",
                                            "electronics",
                                            "entertainment",
                                            "furniture",
                                            "kitchen appliances",
                                            "sports",
                                            "toys",
                                            "other"
                                        ] %>
                                        <% for(var i=0; i<categories_list.length; i++) {%>
                                            <% if (categories.indexOf(categories_list[i]) != -1) {%>

                                            <option value="<%= categories_list[i] %>" selected="selected"><%= categories_list[i] %></option>
                                            <% } else { %>
                                            <option value="<%= categories_list[i] %>"><%= categories_list[i] %></option>
                                            <% } %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 20px;">
                                <div class="col-sm-6 delivery-info">
                                    <h2>Delivery</h2>
                                    <p class="subtitle">
                                        Receiver will be receiving gift by
                                    </p>
                                    <div class="checkbox checkbox-primary delivery-info checkbox-circle row">
                                        <% if (item.meetup === 1) { %>
                                            <input type="checkbox" name="meetup" id="meetup" class="check-one hidden" checked data-validation="required" data-validation-optional-if-answered="postage">
                                        <% } else { %>
                                            <input type="checkbox" name="meetup" id="meetup" class="check-one hidden" data-validation="required" data-validation-optional-if-answered="postage">
                                        <% } %>
                                        <label class="large-label" for="meetup">
                                            Meet and collect
                                        </label><br>

                                        <% if (item.postage === 1) { %>
                                            <input type="checkbox" name="postage" id="postage" class="check-two hidden" checked data-validation="required" data-validation-optional-if-answered="meetup">
                                        <% } else { %>
                                            <input type="checkbox" name="postage" id="postage" class="check-two hidden" data-validation="required" data-validation-optional-if-answered="meetup">
                                        <% } %>
                                        <label class="large-label" for="postage">
                                            Postage service
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6 description-info">
                                    <h2>Description</h2>
                                    <p class="subtitle">
                                        Some words about the gift.
                                    </p>
                                    <div class="description-edit">
                                        <textarea type="text" class="input-txt description-input" name="description"  maxlength="200" autocomplete="off" data-validation="required"><%- item.description %></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="detail-info info-display">
                            <div class="row">
                                <div class="col-sm-6 col-md-7">
                                    <div class="description-info">
                                        <p class="subtitle">
                                            Description
                                        </p>
                                        <p class="item-description">
                                            <%- item.description %>
                                        </p>
                                    </div>
                                    <div class="deadline-info">
                                        <p class="subtitle">
                                            <% if (date == "Invalid date") { %>
                                            This giveaway has no deadline
                                            <% } else { %>
                                            This giveaway ends on
                                        </p>
                                        <p class="deadline">
                                            <%= moment(deadline).format('DD MMM YYYY') %>
                                        </p>
                                        <% } %>
                                    </div>
                                    <div class="delivery-info">
                                        <p class="subtitle">
                                            Delivery
                                        </p>
                                        <div class="delivery-holder info-display">
                                            <% if (item.meetup === 1) { %>
                                                <span class="category-item"><i class="fa fa-child"></i>Meet Up</span>
                                            <% } %>
                                            <% if (item.postage === 1) { %>
                                                <span class="category-item"><i class="fa fa-cube"></i>Postage</span>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-5">
                                    <h4 class="about-charity">The Charity</h4>
                                    <p class="charity-intro">
                                        <%= item.charityDescription %>
                                    </p>
                                    <h4 class="giver-info-title">The Giver</h4>
                                    <div class="giver-info">
                                        <div class="giver-img pull-left">
                                            <a href="/profile/<%= item.giverID %>">
                                                <img src="https://graph.facebook.com/<%= item.fbID %>/picture?type=large" alt="" />
                                            </a>
                                        </div>
                                        <a href="/profile/<%= item.giverID %>" class="giver-name"><%= item.name %></a>

                                        <% if (loggedIn && mine && item.takerID === null) { %>
                                            <br>

                                        <% } %>
                                    </div>
                                    <% if (item.takerID !== null) { %>
                                        <div class="taker-info">
                                            <h4 class="giver-info-title">The Donor</h4>
                                            <div class="giver-img pull-left">
                                                <img src="https://graph.facebook.com/<%= item.takerFbID %>/picture?type=large" alt="" />
                                            </div>
                                            <a href="/profile/<%= item.takerID %>" class="giver-name"><%= item.takerName %></a>
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <% if (!mine) { %>
                        <% } else if (item.takerID === null) { %>
                            <div class="mobile-button">
                                <div class="info-button mobile-modify-button">
                                    <a href="#" class="btn btn-lg btn-block mobile-btn-modify">Modify Item</a>
                                </div>
                                <div class="info-button mobile-edit-button-group hidden">
                                    <button href="#" class="btn btn-lg mobile-btn-save btn-block" type="submit">Save Modification</button>
                                    <a href="#" class="btn btn-lg mobile-btn-cancel btn-block">Cancel Modification</a>
                                    <a onclick="deleteConfirm(<%= item.itemID %>);" class="btn btn-lg btn-block mobile-btn-delete">Delete Item</a>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </form>

        <div class="row panel" style="padding: 20px;">
            <% if (!mine) { %>
                <h3 class="comment-title">Curious? Comment below!</h3>
            <% } else { %>
                <h3 class="comment-title">Comments</h3>
            <% } %>
            <div id="comments-container" style="margin-left: 15px; margin-right: 15px;">
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="col-xs-12 text-center" style="padding-bottom: 10px;">
                <small><a href="mailto:giveforfreefeedback@gmail.com"><i class="fa fa-envelope"></i> giveforfreefeedback@gmail.com</a></small>
                <br>
                <small><a href="/tnc"><i class="fa fa-eye"></i> Privacy Clause</a></small>
            </div>
            <div class="col-xs-12 text-center">
                <small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
            </div>
        </div>
    </footer>

</body>

</html>
