<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Metadata and Responsive Viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:type" content="giveforfreetest:free_item" />
    <meta property="fb:app_id" content="<%= appId %>" />
    <meta property="og:url" content="<%= domain %>/item/<%= item.itemID %>" />
    <meta property="og:image" content="https://d24uwljj8haz6q.cloudfront.net/<%= item.imageLocation %>" />
    <meta property="og:description" content="<%= item.description %>" />
    <meta property="og:title" content="<%= item.title %>" />
    <meta property="og:site_name" content="Give For Free" />
    <meta property="og:image:width" content="450" />
    <meta property="og:image:height" content="298" />



    <title>Give For Free - Meeting the needs of others</title>

    <!-- Bootstrap Support -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Pure CSS (Override) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-context-min.css">

    <script type="text/javascript" src="../scripts/item/jquery-comments.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/item/jquery-comments.css">

    <!-- Font Awesome (Override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- Material Date Picker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js"></script>
    <script src="../assets/materialDatePicker/js/bootstrap-material-datetimepicker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.min.css">
    <link rel="stylesheet" href="../assets/materialDatePicker/css/bootstrap-material-datetimepicker.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Checkbox Styling -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.min.css
    ">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap2/bootstrap-switch.min.css">

    <!-- Countable Support -->
    <script src="../assets/simplyCountable/js/jquery.simplyCountable.js"></script>

    <!-- Other Scripts -->
    <script>
        var loggedIn = <%= loggedIn %>;
    </script>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId: '<%= appId %>',
                xfbml: true,
                version: 'v2.7'
            });
            if (typeof facebookInit == 'function') {
                facebookInit();
            }
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        var toId;
        <% if (loggedIn && (item.takerID === null || item.takerID === id)) { %>
        toId = <%= item.fbID %>;
        <% } else if (loggedIn && item.giverID === id && item.takerID !== null) { %>
        toId = <%= item.takerFbID %>;
        <% } %>

        function facebookInit() {
            if ($("#facebook-message").length) {
                document.getElementById('facebook-message').onclick = function() {
                    FB.ui({
                        method: 'send',
                        link: '<%= domain %>/item/<%= item.itemID %>',
                        to: toId
                    }, function(response) {});
                }
            }
            if ($("#facebook-share").length) {
                document.getElementById('facebook-share').onclick = function() {
                    FB.ui({
                        method: 'share_open_graph',
                        action_type: '<%= fbNameSpace %>:receive',
                        action_properties: {
                            'free_item': '<%= domain %>/item/<%= item.itemID %>'
                        },
                        mobile_iframe: true
                    }, function(response) {});
                }
            }
        }
    </script>

    <script src="../scripts/common/common.js"></script>
    <script src="../scripts/item/item.js"></script>
    <script src="../assets/autosize/js/autosize.js"></script>

    <!-- Bootstrap CSS (override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../styles/common/bootstrap-edit.css">
    <link rel="stylesheet" href="../styles/common/common.css">
    <link rel="stylesheet" href="../styles/item/item.css">

    <!-- Bootstrap Notifications -->
    <link rel="stylesheet" href="../assets/bootstrapNotifications/css/bootstrap-notifications.min.css">
    <script src="../scripts/common/notify.min.js"></script>

    <!-- Selectize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.3/js/standalone/selectize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.3/css/selectize.default.min.css">
    <link rel="stylesheet" href="../styles/upload/selectize-mod.css">

    <!-- Animations -->
    <link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

    <!-- Font Support -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>

    <div id="fb-root"></div>
    <script src="/scripts/common/fblike.js"></script>

    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

            <!-- Left Header Icon -->
            <div class="navbar-header">

                <!-- Collapsed Nav -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Title -->
                <text class="navbar-title">
                    <h4 style="margin-top: 5px;"><b>
                        <!-- <i class="fa fa-gift" aria-hidden="true"> </i> -->
                        <!-- Create a Gift -->
                    </b></h4>
                </text>

                <!-- Logo -->
                <a class="navbar-brand" href="/">
                    <!-- <img src="../images/common/logo-long.png" width="108px" height="36px" style="margin-top: -10px;" /> -->
                    Give For Free!
                </a>
            </div>

            <!-- Menu -->
            <div class="collapse navbar-collapse" id="nav-menu">

                <!-- User Actions Menu -->
                <% if (loggedIn) { %>
                    <ul class="nav navbar-nav navbar-right">
                        <li id="nav-create">
                            <a href="/upload">
                                <i class="fa fa-gift" aria-hidden="true"></i> Give
                            </a>
                        </li>
                        <li id="nav-feed">
                            <a href="/">
                                <i class="fa fa-rss" aria-hidden="true"></i> Feed
                            </a>
                        </li>
                        <li id="nav-profile">
                            <a href="/profile/<%= id %>">
                                <i class="fa fa-user" aria-hidden="true"></i> Profile
                            </a>
                        </li>

                        <% if (typeof notification != 'undefined') { %>
                            <!-- Notifications -->
                            <%- include('notification'); %>
                                <!-- End Notifications -->
                                <% } %>

                                    <li id="nav-logout">
                                        <a href="/logout">
                                            <i class="fa fa-lock" aria-hidden="true"></i> Logout
                                        </a>
                                    </li>
                    </ul>
                    <% } else { %>
                        <ul class="nav navbar-nav navbar-right">
                            <li id="nav-feed">
                                <a href="/">
                                    <i class="fa fa-rss" aria-hidden="true"></i> Feed
                                </a>
                            </li>
                            <li id="nav-logout">
                                <a href="/login/facebook">
                                    <i class="fa fa-lock" aria-hidden="true"></i> Login
                                </a>
                            </li>
                        </ul>
                        <% } %>

            </div>

        </div>
    </nav>


    <div class="container main-container col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <% if (locals.error_messages) {
            error_messages.forEach(function(message) { %>
            <div class="alert alert-warning"><strong>Uh-oh! </strong>
                <%= message %>
            </div>
            <% });
        } %>

                <% if (locals.success_messages) {
            success_messages.forEach(function(message) { %>
                    <div class="alert alert-success"><strong>Awesome! </strong>
                        <%= message %>
                    </div>
                    <% });

        } %>


                        <row class="col-lg-12 col-md-12 col-sm-12 col-ms-12 col-xs-12">
                            <!-- <div class="col-xs-12 col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1"> -->
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" style="padding: 0 0;">

                                <row>
                                    <div class="panel panel-default title-panel" style="display: flex; justify-content:center; align-content:center; flex-direction:column; margin-left: 15px; margin-right: 15px; margin-bottom:20px;" align="center">

                                        <img src="../images/item/gift.svg" style="display: block; margin-left: auto; margin-right: auto;padding: 10px 0; width: 100px;">
                                        <p style="font-size:calc(10px + 1.5vw); mvertical-align: middle; padding:10px 0; padding-top: 15px; font-weight: bold; color: white; ">
                                            <%= item.title %>
                                        </p>
                                        <p style="color: white; font-weight: bold; margin-top: -10px; padding-bottom: 5px; font-size: font-size:calc(10px + 1.0vw);"> <i class="fa fa-heart" aria-hidden="true" style="color: #EA5455;"></i>
                                            <%= item.name %>
                                        </p>
                                        <div class="fb-like" data-href="http://www.giveforfree.sg/item/<%= item.itemID %>" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true" style="bottom:10px;"></div>
                                    </div>
                                </row>

                                <row>
                                    <div style="padding: 0 15px;" align="center">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left:0; padding-right: 0; margin-bottom: 20px;">
                                            <% if (!mine) { %>
                                                <% if (!loggedIn && !expired && item.takerID === null) { %>
                                                    <a href="/login" class="btn btn-lg btn-primary btn-block"><span class="glyphicon glyphicon-gift"></span> <b> LOGIN TO WANT!</b> <span class="badge"><%= item.numWants %></span> </a>
                                                    <% } else if (item.meWant === 1 && !expired && item.takerID === null) { %>
                                                        <a class="btn btn-lg btn-danger btn-block unsnag" itemId="<%= item.itemID %>"><span class="glyphicon glyphicon-gift"></span>  <b> UNWANT!</b> <span class="badge"><%= item.numWants %></span> </a>
                                                        <% } else if (!expired && item.takerID === null) { %>
                                                            <a class="btn btn-lg btn-primary btn-block snag" itemId="<%= item.itemID %>"><span class="glyphicon glyphicon-gift"></span> <b> WANT!</b> <span class="badge"><%= item.numWants %></span> </a>
                                                            <% } %>
                                                                <% } %>
                                        </div>
                                    </div>
                                </row>

                                <!-- Carousel -->
                                <row>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 carousel-section">
                                        <div id="carousel-example-generic" class="carousel slide img-thumbnail carousel-window" data-ride="carousel" data-interval="false">

                                            <!-- Indicators -->
                                            <ol class="carousel-indicators">
                                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                            </ol>

                                            <!-- Wrapper for slides -->
                                            <div class="carousel-inner photos" role="listbox">
                                                <div class="item active">
                                                    <img id="display-item" src="https://d24uwljj8haz6q.cloudfront.net/<%= item.imageLocation %>" onerror="handleBrokenImage(this);">
                                                    <div class="carousel-caption">

                                                    </div>
                                                </div>
                                                <!-- <div class="item">
                        <img src="https://d24uwljj8haz6q.cloudfront.net/<%= item.imageLocation %>" alt="...">
                        <div class="carousel-caption">
                            <%= item.title %>
                        </div>
                    </div>
                    <div class="item">
                        <img src="https://d24uwljj8haz6q.cloudfront.net/<%= item.imageLocation %>" alt="...">
                        <div class="carousel-caption">
                            <%= item.title %>
                        </div>
                    </div> -->
                                            </div>

                                            <!-- Controls -->
                                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>

                                        </div>
                                        <!-- <div>
                <table style="width:100%">
                    <tr>
                        <th>Name</th>
                        <th>Facebook ID</th>
                        <th>Comment</th>
                        <th>Time</th>
                        <th>Delete</th>
                    </tr>
                    <% for (var i=0; i<comment.length; i++) { %>
                        <tr>
                            <td><%= comment[i].relations.commentedBy.attributes.name %></td>
                            <td><%= comment[i].relations.commentedBy.attributes.fbID %></td>
                            <td><%= comment[i].attributes.message %></td>
                            <td><%= comment[i].attributes.timeCreated %></td>
                            <td>
                                <% if (comment[i].attributes.commenterID === id) { %>
                                    <form action="/api/deletecomment/<%= item.itemID %>/<%= comment[i].attributes.commentID %>" method="post">
                                        <button name="delete" value="delete">Delete</button>
                                    </form>
                                <% } %>
                            </td>
                        </tr>
                    <% } %>
                </table>
                <form action="/api/comment/<%= item.itemID %>" method="post">
                    Message:<br>
                    <input type="text" name="message"><br>
                    <input type="submit" value="Submit">
                </form>
            </div> -->
                                    </div>
                                </row>

                                <row>
                                    <div style="padding: 0 15px;" align="center">
                                        <div class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 5px;">
                                            <div class="panel-body" style="padding: 15px 0;">
                                                <h4>Accepted Delivery Mode</h4>
                                                <h5>
                                    <% if (item.meetup === 1) { %>
                                    <span class="label label-info">Meet Up</span>
                                    <% } %>
                                    <% if (item.postage === 1) { %>
                                    <span class="label label-warning">Postage</span>
                                    <% } %>
                                </h5>
                                            </div>
                                        </div>

                                    </div>

                                </row>

                            </div>



                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="padding: 0 0; margin-bottom: 0px;">

                                <div>
                                    <row>
                                        <div style="padding: 0 15px;">
                                            <div class="panel panel-default col-xs-12 col-sm-12 col-md-12 col-lg-12 profile-panel">
                                                <div class="panel-body" style="padding: 15px 0; padding-bottom: 20px;">

                                                    <div class="row">
                                                        <div class="profile-header-container col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                            <div class="profile-header-img" align="center">


                                                                <div class="avatar-badge" style="background-image: url(http://graph.facebook.com/<%= item.fbID %>/picture?type=large);" style="margin-left: 0; display: block; padding: 0; width: 80px; height: 80px; border-radius:50%;" align="center">

                                                                </div>
                                                                <div class="clearfix"></div>
                                                                <div class="rank-label-container">
                                                                    <div class="clearfix"></div>

                                                                    <span class="label label-default rank-label"><%= gifts %> gifts</span>
                                                                </div>
                                                                <!-- badge -->

                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="profile-name-container col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
                                                            <p class="owner-name"> <a href="/profile/<%= item.giverID %>"><b> <%= item.name %> </b></a> </p>
                                                            <small class="owner-location"> Singapore </small>
                                                        </div>
                                                    </div>

                                                    <div class="row button-group">
                                                        <!-- Manage different rights for users -->
                                                        <center>
                                                            <% if (loggedIn && mine && item.takerID === null) { %>
                                                                <a data-toggle="modal" data-target="#confirm-delete" data-href="/api/delete/<%= item.itemID %>" class="btn btn-sm btn-danger">Delete</a>

                                                                <% if (item.numWants > 0) { %>
                                                                    <a type="button" class="btn btn-xs btn-warning" href="/api/give/<%= item.itemID %>"> Random Draw</a>
                                                                    <a type="button" class="btn btn-xs btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Pick <span class="caret"></span>
                                        </a>
                                                                    <ul class="dropdown-menu scrollable-menu dropdown-menu-right" role="menu">
                                                                        <% for (var i=0; i<manual.length; i++) { %>
                                                                            <li>
                                                                                <a href="/api/give/<%= item.itemID %>/<%= manual[i].userID %>">
                                                                                    <%= manual[i].name %>
                                                                                </a>
                                                                            </li>
                                                                            <% } %>
                                                                    </ul>
                                                                    <% } %>
                                                                        <% } else if (loggedIn && (item.takerID === null || item.takerID === id)) { %>
                                                                            <button class="btn btn-xs btn-primary message-button" id="facebook-message" style="margin-bottom: 10px;"><i class="fa fa-facebook-official" aria-hidden="true"></i> Message Owner</button>
                                                                            <% if (item.takerID === id) { %>
                                                                                <button class="btn btn-xs btn-primary message-button" id="facebook-share" style="margin-bottom: 10px;"><i class="fa fa-facebook-official" aria-hidden="true"></i> Share on Facebook</button>
                                                                                <% } %>
                                                                                    <% } else if (loggedIn && item.giverID === id && item.takerID !== null) { %>
                                                                                        <button class="btn btn-xs btn-primary message-button" id="facebook-message" style="margin-bottom: 10px;">Message Recipient</button>
                                                                                        <% } %>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </row>
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="padding: 0 0; margin-bottom: 10px;">


                                <div>
                                    <div style="padding: 0 15px;">
                                        <div class="panel panel-default">
                                            <div class="list-group">
                                                <a class="list-group-item">
                                                    <h4 class="list-group-item-heading">Title</h4>
                                                    <p class="list-group-item-text hide-overflow">
                                                        <%= item.title %>
                                                    </p>
                                                </a>
                                                <a class="list-group-item" style="overflow: auto;">
                                                    <h4 class="list-group-item-heading">Description</h4>
                                                    <textarea readonly style="width: 100%; height: 100%; resize:none; font-weight: lighter; font-size: 1.3em; overflow: auto; background: transparent; border: none;" class="list-group-item-text wrap description-text"><%= item.description %></textarea>
                                                </a>
                                                <a class="list-group-item">
                                                    <h4 class="list-group-item-heading">Deadline</h4>
                                                    <p class="list-group-item-text">
                                                        <%= date %>
                                                    </p>
                                                </a>
                                                <div class="bs-callout bs-callout-warning" style="background-color: #FFFBAF; color: #A8896C; margin: 10px; 10px;">
                                                    <% if (item.takerID === null && !expired) { %>
                                                        <h4>Available</h4>
                                                        <h5>This giveaway will end in 2 days and 4 hours time.</h5>
                                                        <% } else if (item.takerID === null) { %>
                                                            <h4>Expired</h4>
                                                            <h5>This giveaway has ended.</h5>
                                                            <% } else { %>
                                                                <h4>Given Away</h4>
                                                                <h5>This item has been given away to <a style="color: white;" href="/profile/<%= item.takerId %>"><%= item.takerName%></a>.</h5>
                                                                <% } %>
                                                </div>

                                            </div>
                                            <div class="panel-footer" style="vertical-align: middle;">
                                                <!-- <row> -->
                                                <div style="vertical-align: middle; position: relative;">
                                                    <row>
                                                        <% if (loggedIn && mine && !expired && item.takerID == null) { %>
                                                            <div class="pull-right" style="vertical-align: middle; position:relative; float:right; margin-top: -10px;">
                                                                <button class="btn btn-default pull-right" style="display: inline-block; align: right; top: 0px; float: right;" data-toggle="modal" data-target="#editModal">Edit</button>
                                                                <% } %>
                                                            </div>
                                                            <div>
                                                                <h5 class="text-muted" style="vertical-align: middle;"> Last updated 1 hour ago</h5>
                                                            </div>
                                                    </row>
                                                </div>


                                                <!-- </row> -->
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div id="comments-container" style="margin-left: 15px; margin-right: 15px;">

                                </div>

                            </div>


    </div>





    <!-- </div> -->
    </row>
    </div>

    </div>

    <!-- Modal Popup for editing -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Item</h4>
                </div>
                <form action="/api/update/<%= item.itemID %>" class="form-horizontal form" role="form" method="post">
                    <div class="modal-body">


                        <% if (locals.error_messages) {
                            error_messages.forEach(function(message) { %>
                            <div class="alert alert-warning"><strong>Error: </strong>
                                <%= message %>
                            </div>
                            <% });
                        } %>
                                <!-- <div class="form-group has-warning">
                                    <label class="col-sm-2 control-label" for="title">Title</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="title" name="title" placeholder="Enter the title here..." required/>
                                    </div>
                                </div>
                                <div class="form-group has-warning">
                                    <label class="col-sm-2 control-label" for="description">Description</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="description" name="description" placeholder="Caption in 140 characters ..." required/>
                                    </div>
                                </div>
                                <small><span id="counter"></span> characters remaining.</small>

                                <script>
                                    $('#description').simplyCountable({
                                        counter: '#counter',
                                        countType: 'characters',
                                        maxCount: 140,
                                        countDirection: 'down'
                                    });
                                </script> -->

                                <div class="panel panel-default">
                                    <div class="list-group">
                                        <a class="list-group-item">
                                            <h4 class="list-group-item-heading"><b>What are you giving?</b></h4>
                                            <p class="list-group-item-text">
                                                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                                <input type="text" class="input-txt" name="title" placeholder="Item name (max. 50 chars)" maxlength="50" autocomplete="off" value="<%=item.title%>" required>
                                            </p>
                                        </a>
                                        <a class="list-group-item">
                                            <h4 class="list-group-item-heading"><b>Describe the item you are giving!</b></h4>
                                            <p class="list-group-item-text">
                                                <textarea type="text" class="input-txt description-field" name="description" placeholder="Item description (max. 200 chars)" autocomplete="off" data-trigger="focus" id="description-field" maxlength="200" required><%=item.description%></textarea>
                                            </p>
                                        </a>
                                        <a class="list-group-item">
                                            <h4 class="list-group-item-heading"><b>When do you want to end this giveaway?</b></h4>
                                            <p class="list-group-item-text">
                                                <input type="text" class="input-txt" name="date" id="date" placeholder="Pick an end date..." maxlength="50" autocomplete="off" value="<%= moment(date).format("YYYY-MM-DD") %>" required>
                                            </p>
                                        </a>
                                        <a class="list-group-item">
                                            <h4 class="list-group-item-heading"><b>Which category does your item belong to?</b></h4>


                                            <select id="input-tags" name="categories[]" multiple class="categories has-options " style="width:70%" auto-complete: "off" placeholder="Select categories...">
                                                <option value="">Select categories...</option>
                                                <option value="clothes">clothes</option>
                                                <option value="accessories">accessories</option>
                                                <option value="furniture & home">furniture & home</option>
                                                <option value="parenting">parenting</option>
                                                <option value="health">health</option>
                                                <option value="beauty">beauty</option>
                                                <option value="kitchen appliances">kitchen appliances</option>
                                                <option value="gardening">gardening</option>
                                                <option value="property">property</option>
                                                <option value="design & craft">design & craft</option>
                                                <option value="electronics">electronics</option>
                                                <option value="sports">sports</option>
                                                <option value="photography">photography</option>
                                                <option value="antiques">antiques</option>
                                                <option value="toys">toys</option>
                                                <option value="games">games</option>
                                                <option value="music">music</option>
                                                <option value="tickets & vouchers">tickets & vouchers</option>
                                                <option value="auto accessories">auto accessories</option>
                                                <option value="books">books</option>
                                                <option value="stationeries">stationeries</option>
                                                <option value="textbooks">textbooks</option>
                                                <option value="notes">notes</option>
                                                <option value="pets">pets</option>
                                                <option value="other">other</option>
                                            </select>
                                        </a>
                                        <a class="list-group-item">
                                            <h4 class="list-group-item-heading"><b>How would you like the person receiving to collect the item?</b></h4>

                                            <div class="checkbox checkbox-primary checkbox-circle row">
                                                <input type="checkbox" id="meet">
                                                <label class="large-label" for="meet">
                                                    Meet and collect
                                                </label>

                                                <input type="checkbox" id="free">
                                                <label class="large-label" for="free">
                                                    Postage service </label>

                                                <!-- <input type="checkbox" id="paid">
                                                <label class="large-label" for="paid">
                                                    Collector to pay </label> -->

                                                <!-- <label class="large-label">
                                            <input id="meet" type="checkbox"> Meet and collect
                                        </label> -->
                                                <!-- <label class="large-label">
                                            <input id="free" type="checkbox"> Free postage service
                                        </label>
                                        <label class="large-label">
                                            <input id="paid" type="checkbox"> Collector to pay for postage
                                        </label> -->
                                            </div>

                                        </a>
                                        <a class="list-group-item">
                                            <div class="checkbox checkbox-primary checkbox-circle row">
                                                <input type="checkbox" id="share" name="postToFacebook">
                                                <label class="large-label" for="share">
                                                    <i class="fa fa-facebook-official" aria-hidden="true"></i> Share on Facebook
                                                </label>
                                            </div>
                                        </a>

                                    </div>
                                </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" type="submit">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal Popup for deleting -->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>You are deleting this item ... </h3>
                </div>
                <div class="modal-body">
                    <h5> Are you sure you want to delete this item? This action cannot be undone. </h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container footer-container">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <hr class="xsall">
                <!-- <ul class="col-xs-12 list-unstyled contact-list">
                    <li>
                        <small><span class="glyphicon glyphicon-envelope" id="envelope-icon" aria-hidden="true"></span> : <a href="mailto:contact@giveforfree.com">giveforfreefeedback@gmail.com</a></small>
                    </li>
                    <li>
                        <small><span class="glyphicon glyphicon-eye-open" id="eye-icon" aria-hidden="true"></span> : <a href="/privacy">Privacy Clause</a></small>
                    </li>
                </ul> -->

                <div class="col-xs-12 text-center" style="padding-bottom: 10px;">
                    <small><span class="glyphicon glyphicon-envelope" id="envelope-icon" aria-hidden="true">  </span>  <a href="mailto:giveforfreefeedback@gmail.com"> giveforfreefeedback[at]gmail[dot]com</a></small>
                    <br>
                    <small><span class="glyphicon glyphicon-eye-open" id="eye-icon" aria-hidden="true"></span>  <a href="/privacy"> Privacy Clause</a></small>

                </div>

                <div class="col-xs-12 text-center">
                    <small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
                </div>



            </div>
        </div>
    </footer>

</body>

</html>
