<li class="dropdown dropdown-notifications">
    <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i data-count="2" class="fa fa-bell" aria-hidden="true"></i> Notifications <span class="badge"><%= notification.length %></span>
    </a>
    <ul class="dropdown-menu hidden-xs" aria-labelledby="dropdownMenu1" style="height:400px; width:300%; overflow:hidden; overflow-y:scroll;">
        <div class="panel-heading"><a>Clear All</a></div>
        <div style="height:400px; width:300%; overflow:hidden; overflow-y:scroll;">
            <% for (var i=0; i<notification.length; i++) { %>
            <li class="notification">
                <div class="media">
                    <div class="media-left">
                        <div class="media-object">
                            <!-- <img data-src="holder.js/50x50?bg=cccccc" class="img-circle" alt="Name"> -->
                        </div>
                    </div>
                    <% if (notification[i].notificationType === 5) { %>
                    <a href="/profile/<%= id %>">
                        <div class="media-body">
                            <strong class="notification-title">
                                <%= notification[i].name %> left a new message on your Thank You Wall!
                            </strong>
                            <div class="notification-meta">
                                <small class="timestamp"><%= notification[i].timeCreated %></small>
                            </div>
                        </div>
                    </a>
                    <% } else { %>
                    <a href="/item/<%= notification[i].itemID %>">
                        <div class="media-body">
                            <strong class="notification-title">
                                <% if (notification[i].notificationType === 1) { %>
                                    <%= notification[i].name %> is interested in getting <%= notification[i].title %>.
                                <% } else if (notification[i].notificationType === 2) { %>
                                    <%= notification[i].title %>'s giveaway has expired. Pick your lucky winner now.
                                <% } else if (notification[i].notificationType === 3) { %>
                                    <%= notification[i].name %> left a comment about <%= notification[i].title %>.
                                <% } else if (notification[i].notificationType === 4) { %>
                                    <% if (notification[i].takerID === id) { %>
                                        <%= notification[i].title %> has been given to you! (:</li>
                                    <% } else { %>
                                        <%= notification[i].title %> has been given to someone else! ):</li>
                                    <% } %>
                                <% } %>
                            </strong>
                            <div class="notification-meta">
                                <small class="timestamp"><%= notification[i].timeCreated %></small>
                            </div>
                        </div>
                    </a>
                    <% } %>
                </div>
            </li>
            <% } %>
        </div>
    </ul>
</li>