<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Metadata and Responsive Viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Give For Free - Meeting the needs of others</title>

    <!-- Bootstrap Support -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Codyhouse Navigation FAB Support -->
    <script src="assets/codyhouse/js/main.js"></script>
    <script src="assets/codyhouse/js/modernizr.js"></script>

    <!-- Other Scripts -->
    <script src="../scripts/common/common.js"></script>
    <script src="../scripts/profile/profile.js"></script>
    <script>
        var myFriends = null;
        var isMine = false;
        isMine = <%= myProfile %>;
        var myName = "<%= user.name %>";
        var myAppId = <%= id %>;
        var appProfileId = <%= user.userID %>;

        $(window).load(function() {
            myFriends = <%- JSON.stringify(friends) %>;
        });
        $(document).ready(function() {
            myFriends = <%- JSON.stringify(friends) %>;
        });
    </script>

    <!-- Bootstrap CSS (override) -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../styles/common/common.css">

    <!-- Override from CodyHouse -->
    <link rel="stylesheet" href="assets/codyhouse/css/reset.css">
    <link rel="stylesheet" href="assets/codyhouse/css/style.css">

    <link rel="stylesheet" href="../styles/profile/profile.css">

    <!-- Animation -->
    <link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

    <!-- Font Support -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <!-- Left Header Icon -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Give For Free</a>
            </div>

            <!-- Menu -->
            <div class="collapse navbar-collapse" id="nav-menu">
                <!-- User Actions Menu -->
                <ul class="nav navbar-nav navbar-right">
                    <li id="nav-feed">
                        <a href="/">Feed</a>
                    </li>
                    <li class="active" id="nav-profile">
                        <a id="myprofile-link" href="/profile/<%= id %>">Profile</a>
                    </li>
                    <li id="nav-logout">
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <!-- Profile Header Jumbotron -->

    <div class="main-display-area">

        <div class="container profile-area" align="center">

            <img align="center" src="http://graph.facebook.com/<%= user.fbID %>/picture?type=large" class="img-circle img-thumbnail profile-photo" vertical-align="center">

            <div class="text-holder">
                <h1 class="display-3 name"><%= user.name %></h1>
                <p>Singapore</p>
                <div class="counters col-xs-10 col-xs-offset-1" align="center">
                    <div align="center" class="col-xs-4 counter">
                        <p align="center" class="count">
                            <%= totalTaken %>
                        </p>
                        <p align="center" class="count-label">
                            Snagged Items
                        </p>
                    </div>
                    <div align="center" class="col-xs-4 counter">
                        <p align="center" class="count">
                            <%= totalGifted %>
                        </p>
                        <!-- <hr class="m-y-2" /> -->
                        <p align="center" class="count-label">
                            Contributions
                        </p>
                    </div>
                    <div align="center" class="col-xs-4 counter">
                        <p align="center" class="count">
                            <%= totalKarma %>
                        </p>
                        <!-- <hr class="m-y-2" /> -->
                        <p align="center" class="count-label">
                            Karma Points
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <!-- CodyHouse Navigation FAB  -->
        <div class="container" align="center">

            <div id="cd-nav" class="is-fixed">
                <a href="#0" class="cd-nav-trigger">Menu<span></span></a>

                <nav id="cd-main-nav" class="cd-main-nav">
                    <ul class="has-transitions">
                        <li class="active tab-snagged" id="tab-snagged"><a id="snagged-link">Snagged Items</a></li>
                        <li class="tab-gifted" id="tab-gifted"><a id="gifted-link">Contributions</a></li>
                        <li class="tab-friends" id="tab-friends"><a id="friends-link">My Friends</a></li>
                        <li class="tab-self" id="tab-self"><a id="self-link">Back to My Profile</a></li>
                        <li class="active tab-create" id="tab-create"><a id="create-link">Create a gift!</a></li>
                    </ul>
                </nav>
            </div>

        </div>

        <!-- Scroll Container -->
        <div class="infinite-scroll-container col-xs-10 col-xs-offset-1" id="infinite-scroll-container"></div>

    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <hr class="xsall">
                <ul class="col-xs-12 list-unstyled contact-list">
                    <li>
                        <span class="glyphicon glyphicon-phone-alt" id="phone-alt-icon" aria-hidden="true"></span> : (+65) 6123 4567
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-envelope" id="envelope-icon" aria-hidden="true"></span> : <a href="mailto:contact@giveforfree.com">contact@giveforfree.com</a>
                    </li>
                </ul>

                <div class="col-xs-12 text-center">
                    <small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
                </div>
            </div>
        </div>
    </footer>

</body>


</html>
