<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Metadata and Responsive Viewport -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Give For Free</title>

    <!-- JQuery Support -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Material Date Picker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment-with-locales.min.js"></script>
    <script src="../assets/materialDatePicker/js/bootstrap-material-datetimepicker.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.2.0/material.min.css">
    <link rel="stylesheet" href="../assets/materialDatePicker/css/bootstrap-material-datetimepicker.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Bootstrap Support -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Validator -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

    <!-- Checkbox Styling -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.min.css
    ">

    <!-- Native Scripts -->
    <script src="../scripts/common/common.js"></script>
    <script src="../scripts/upload/upload.js"></script>

    <!-- Push Notifications -->
    <!-- <script src="/scripts/common/notification2.js"></script> -->

    <!-- Image Upload EXIF -->
    <script src="../scripts/upload/exif.js"></script>

    <!-- Auto-Resize Input Fields -->
    <script src="../assets/autosize/js/autosize.js"></script>

    <!-- Bootstrap CSS (Override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Pure CSS (Override) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-context-min.css">

    <!-- Font Awesome (Override) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- Cropper (Override) -->
    <script src="../scripts/upload/croppie.js"></script>
    <link rel="stylesheet" href="../styles/upload/croppie.css">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="../styles/common/bootstrap-edit.css">
    <link rel="stylesheet" href="../styles/common/common.css">
    <link rel="stylesheet" href="../styles/upload/upload.css">

    <!-- Bootstrap Notifications -->
    <link rel="stylesheet" href="../assets/bootstrapNotifications/css/bootstrap-notifications.min.css">
    <script src="../scripts/common/notify.min.js"></script>

    <!-- Animations -->
    <link rel="stylesheet" href="https://fastcdn.org/Animate.css/3.4.0/animate.min.css">

    <!-- Font Support -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Google Analytics -->
    <script src="/scripts/common/analytics.js"></script>

    <!-- Moment -->
    <script src="/scripts/common/moment.min.js"></script>

</head>

<body>

    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-fixed-top">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="/" class="navbar-logo">
                    <img src="../images/common/gff-logo.svg" class="logo-full" alt="" />
                    <img src="../images/common/gff-logo-s.svg" class="logo-mobile" alt="" />
                </a>
            </div>

            <!-- <button type="button" class="navbar-toggle collapsed category-button" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button> -->

            <button type="button" class="navbar-toggle collapsed user-button" data-toggle="collapse" data-target="#nav-menu" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="nav-menu">

            <ul class="nav navbar-nav navbar-right">
                <li id="nav-profile">
                    <a href="/profile/<%= id %>">
                        <div class="user-avatar">
                            <img src="http://graph.facebook.com/<%= user.fbID %>/picture" alt="" />
                            <span> <%= user.name %></span>
                        </div>
                    </a>
                </li>
                <li id="nav-create">
                    <a href="/upload">
                        <i class="fa fa-gift fa-fw" aria-hidden="true"></i> Give
                    </a>
                </li>
                <li id="nav-feed">
                    <a href="/">
                        <i class="fa fa-newspaper-o fa-fw" aria-hidden="true"></i> Feed
                    </a>
                </li>
                <% if (typeof notification != 'undefined') { %>
                    <!-- Notifications -->
                    <%- include('notification'); %>
                    <!-- End Notifications -->
                <% } %>
                <li id="nav-logout">
                    <a href="/logout">Log out</a>
                </li>
            </ul>
        </div>
        <!-- Menu -->

    </nav>

    <div class="main-container">
        <form action="/upload" name='uploadForm' method="post" id="new-gift-form" role="form">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="croppedImage">

            <div class="row basic-info-card-group">
                <div class="col-md-4 col-sm-5 left-group">
                    <div class="panel photo-panel">
                        <div class="input-group image-preview">
                            <a class="btn btn-default image-preview-input">
                                <input type="file" onchange="previewFile()" accept="image/png, image/jpeg, image/gif" name="input-file-cropped" style="height: 100%;" id="upload-trigger" />
                            </a>
                        </div>
                        <div class="image-crop text-center" style="display: none;">
                            <div id="image" style="padding-bottom: 0; padding-top: 15px;"></div>
                            <div class="image-control-buttons">
                                <a class="image-confirm btn btn-sm btn-success bold-link">Crop Image</a>
                                <a class="image-cancel btn btn-sm btn-success bold-link">Cancel</a>
                            </div>
                        </div>
                        <a id="image-holder" onclick="triggerUpload()">
                            <div align="center" id="cropperHolder">
                                <img id="emptygift" src="../images/common/empty-gift.svg" alt="" />
                                <h3> Click to upload an image </h3>
                                <p> Upload and crop an image of your gift. </p>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="col-md-8 col-sm-7 right-group">
                    <div class="panel description-panel">
                        <div class="name-input-holder">
                            <label for="title"><h2>Gift Name</h2></label>
                            <p>
                                A descriptive name that tells us what this is. <span class="no-description-alert hidden" style="color: #f05050;">You need to name the item!</span>
                                <!-- TODO: implement validation-->
                            </p>
                            <input type="text" class="input-txt name-input" id="title" name="title" placeholder="This is a ..." maxlength="50" data-validation="required">
                        </div>
                        <div class="description-input-holder">
                            <label for="description"><h2>Description</h2></label>
                            <p>
                                Size and measurements. Meetup Details. <span class="no-description-alert hidden" style="color: #f05050;">You have to fill in the description.</span>
                                <!-- TODO: implement validation-->
                            </p>
                            <textarea type="text" class="input-txt description-field" name="description" id="description" placeholder="My gift is..." id="description-field" maxlength="200"  data-validation="required"></textarea>
                        </div>
                        <div class="category-select-holder">
                            <label for="category"><h2>Category</h2></label>
                            <p>
                                Select the most appropriate category. <span class="no-category-alert hidden" style="color: #f05050;">You need to choose a category.</span>
                                <!-- TODO: implement validation-->
                            </p>
                            <select id="input-tags" name="categories[]" id="category" data-validation="required">
                                <option value="">Select a category...</option>
                                <% categories_list = [
                                    "books",
                                    "clothes",
                                    "electronics",
                                    "entertainment",
                                    "furniture",
                                    "kitchen appliances",
                                    "sports",
                                    "toys",
                                    "other"
                                ] %>
                                <% for(var i=0; i<categories_list.length; i++) {%>
                                    <option value="<%= categories_list[i] %>"><%= categories_list[i] %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel more-info-panel row">
                <div class="step-photo-1 col-md-4 col-sm-5"></div>
                <div class="more-info-form col-md-8 col-sm-7">
                    <div class="more-info-wrapper">
                        <div class="date-info">
                            <h2>End Date</h2>
                            <p>
                                Once end date passes, no one can want your gift anymore. <span class="no-date-alert hidden" style="color: #f05050;">You have to select a deadline.</span>
                                <!-- TODO: implement validation-->
                            </p>
                            <input type="text" class="input-txt input-date" name="date" id="date" placeholder="Pick an end date..." maxlength="50" data-validation="required">
                        </div>
                        <div class="delivery-info">
                            <h2>Delivery</h2>
                            <p>
                                The way the gift will be sent. <span class="no-delivery-alert hidden" style="color: #f05050;">You have to choose at least one way of deliverying.</span>
                                <!-- TODO: implement validation-->
                            </p>

                            <div class="checkbox checkbox-primary checkbox-circle row">
                                <input type="checkbox" name="meetup" id="meetup" class="check-one hidden" data-validation="required" data-validation-optional-if-answered="postage">
                                <label class="large-label" for="meetup">
                                    Meet and collect
                                </label><br>
                                <input type="checkbox" name="postage" id="postage" class="check-two hidden" data-validation="required" data-validation-optional-if-answered="meetup">
                                <label class="large-label" for="postage">
                                    Postage service
                                </label>
                            </div>
                        </div>
                        <div class="share-info">
                            <h2>Share</h2>
                            <p>Let your friends know about your gift!</p>
                            <div class="checkbox checkbox-primary checkbox-circle row">
                                <input type="checkbox" id="share" name="postToFacebook" class="hidden">
                                <label class="large-label share-label" for="share" onclick="toggleShareColor();">
                                    <i class="fa fa-facebook-official" aria-hidden="true"></i> Share on Facebook
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel donation-info-panel row">
                <div class="step-photo-2 col-md-4 col-sm-5"></div>
                <div class="donation-info-form col-md-8 col-sm-7">
                    <div class="donation-wrapper">
                        <div class="row">
                            <div class="col-md-12"><h2>Charity</h2></div>
                            <div class="charity-info col-md-6">
                                <p>
                                    I want to raise money for ...
                                </p>
                                <div class="charity-selection">
                                    <input type="radio" id="charity1" name="donateToCharity" value="1" class="hidden" data-validation="required" data-validation-optional-if-answered="givefree, donateToCharity">
                                    <img src="../images/upload/charity1.png" alt="" class="covered" onclick="selectCharity(this);"/>
                                </div>
                            </div>

                            <div class="col-md-6 give-free checkbox checkbox-primary checkbox-circle row">
                                <input type="checkbox" name="givefree" id="givefree" class="check-one hidden" data-validation="required" data-validation-optional-if-answered="donateToCharity" onchange="giveFree(this)">
                                <label class="large-label" for="givefree">
                                    I'm giving this away for free.
                                </label>
                            </div>

                        </div>
                        <div class="row">
                            <p>
                                <small>Can't find a charity you like? <a href="mailto:giveforfreefeedback@gmail.com"><i class="fa fa-envelope"></i> Email us</a>!</small>
                            </p>
                            </div>
                        <div class="donation-info no-charity covered">
                            <h2>Donation Amount</h2>
                            <p>
                                Recommended minimum 2 dollars.
                            </p>
                            <div class="money-input">
                                <i class="fa fa-usd"></i><span> SGD</span>
                                <input type="number" min="1.00" step="0.01" class="input-txt donation-input" name="donation" placeholder="2" maxlength="50" data-validation='required' data-validation-depends-on="donateToCharity">
                                <p>
                                    <span class="actual-amount">$1.4</span> will go to charity<br>
                                    <span class="fee">$0.58</span> will go to PayPal<br>
                                    <span class="ours">$0.02</span> will go to GFF for maintainance purpose
                                </p>
                            </div>
                        </div>
                        <button type="submit" name="button" type="submit" class="btn btn-md">Create Gift</button>
                    </div>
                </div>
            </div>
        <!-- <div class="buttons">
            <a type="button" class="prev">previous step</a>
            <a type="button" class="next">next step</a>
        </div> -->
        </form>
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="col-xs-12 text-center" style="padding-bottom: 10px;">
                <small><a href="mailto:giveforfreefeedback@gmail.com"><i class="fa fa-envelope"></i> giveforfreefeedback@gmail.com</a></small>
                <br>
                <small><a href="/tnc"><i class="fa fa-eye"></i> Privacy Clause</a></small>
            </div>
            <div class="col-xs-12 text-center">
                <small class="col-xs-12 text-muted copyright">Copyright &copy; Give For Free 2016 </small>
            </div>
        </div>
    </footer>
</body>

</html>
